<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="ks45team01.unity.mapper.ApprovalMapper">
	<resultMap type="Approval" id="approvalResultMap">
		<id property="draftDocNum" column="draft_doc_num"/>
		<result property="approvalCategoryNum" column="approval_category_num"/>
		<result property="draftTitle" column="draft_title"/>
		<result property="registrantNum" column="registrant_num"/>
		<result property="reportDate" column="report_date"/>
		<result property="draftContents" column="draft_contents"/>
		<result property="draftAddfile" column="draft_addfile"/>
		<result property="draftAddfilePath" column="draft_addfile_path"/>
		<result property="draftDeadline" column="draft_deadline"/>
		<result property="draftRegDate" column="draft_reg_date"/>
		<result property="approvalFinalState" column="approval_final_state"/>
	</resultMap>
	
	<select id="draftList" resultMap="approvalResultMap" resultType="list">
		SELECT 
			*
		FROM 
			tb_draft_document;
	</select>
</mapper>