<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team01.unity.mapper.FileMapper">
	<resultMap type="File" id="fileResultMap">
		<id property="fileNum" column="file_num"/>
		<result property="fileCategoryCode" column="file_category_code"/>
		<result property="fileRegiStrant" column="file_registrant"/>
		<result property="fileTitle" column="file_title"/>
		<result property="fileContents" column="file_contents"/>
		<result property="fileAttach" column="file_attach"/>
		<result property="filePath" column="file_path"/>
		<result property="fileRegDate" column="file_reg_date"/>
		<result property="fileModifier" column="file_modifier"/>
		<result property="fileModificationDate" column="file_modification_date"/>
		<result property="fileSize" column="file_size"/>
		<result property="fileUseOrNot" column="file_use_or_not"/>
	</resultMap>
	<delete id="fileDelete" parameterType="String">
		DELETE FROM tb_file WHERE file_num=#{fileNum}
	</delete>
	<insert id="addFile" parameterType="File">
		INSERT INTO tb_file
		(file_num, file_registrant, file_title, file_contents, file_attach, file_reg_date)
		VALUES (sf_fileNum(), #{fileRegiStrant}, #{fileTitle}, #{fileContents}, #{fileAttach}, NOW());
	</insert>
	<update id="fileUpdate" parameterType="File">
		UPDATE tb_file
		<trim prefix="SET" prefixOverrides=",">
			<if test="fileTitle != null and fileTitle != '' ">
			 	,file_title = #{fileTitle} 
			</if>		
			<if test="fileContents != null and fileContents != '' ">
				,file_contents = #{fileContents} 
			</if>
			<if test="fileAttach != null and fileAttach != '' ">
				,file_attach = #{fileAttach} 
			</if>
			<if test="fileModifier != null and fileModifier != '' ">
				,file_modifier = #{fileModifier} 
			</if>
			<if test="fileModificationDate != null and fileModificationDate != '' ">
				,file_modification_date = NOW()
			</if>
		</trim>
		WHERE 
			file_num = #{fileNum};
	</update>
	
	<select id="fileView" resultMap="fileResultMap" parameterType="String">
		SELECT 
			*
		FROM 
			tb_file
		WHERE file_num = #{fileNum};
	</select>
	<select id="marketingList" resultMap="fileResultMap">
		SELECT 
			*
		FROM 
			tb_file
		WHERE file_category_code = 'file_catecode_2';
	</select>
	<select id="hrList" resultMap="fileResultMap">
		SELECT 
			*
		FROM 
			tb_file
		WHERE file_category_code = 'file_catecode_1';
	</select>
</mapper>