<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team01.unity.mapper.MemberPositionListMapper">
	<resultMap type="MemberPositionList" id="MemberPositionListResultMap">
		<id property="positionNum" column="position_num"/>
		<result property="positionName" column="position_name"/>
		<result property="memberNum" column="member_num"/>
		<result property="positionRegDate" column="position_reg_date"/>
		<result property="positionUpdateDate" column="position_update_date"/>
		<result property="positionModifier" column="position_modifier"/>
		<result property="useOrNot" column="use_or_not"/>
		
	</resultMap>
	
	<select id="memberPositionList" resultMap="MemberPositionListResultMap">
		SELECT 
			*
		FROM 
			tb_position_list;
	</select>
</mapper>