<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team01.unity.mapper.ProjectListMapper">
	<resultMap type="projectMember" id="projectMemberResultMap">
		<id property="projectJoinNum" column="project_join_num"/>
		<result property="projectNum" column="project_num"/>
		<result property="memberNum" column="member_num"/>
		<result property="joinStartDate" column="join_start_date"/>
		<result property="joinEndDate" column="join_end_date"/>
		<result property="joinContent" column="join_content"/>	
	
	<association property ="memberList" javaType="MemberList">
	<id property="memberNum" column="member_num"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberName" column="member_name"/>
		<result property="memberGender" column="member_gender"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="memberPhone" column="member_phone"/>	
		<result property="memberDormant" column="member_dormant"/>
		<result property="memberDormantDate" column="member_dormant_date"/>	
		<result property="departmentNum" column="department_num"/>	
		<result property="positionNum" column="position_num"/>	
		<result property="memberInsertDate" column="member_insert_date"/>	
	</association>
	
	
	
	</resultMap>
	
	<resultMap type="memberList" id="MemberListMap">
		<id property="memberNum" column="member_num"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberName" column="member_name"/>
		<result property="memberGender" column="member_gender"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="memberPhone" column="member_phone"/>	
		<result property="memberDormant" column="member_dormant"/>
		<result property="memberDormantDate" column="member_dormant_date"/>	
		<result property="departmentNum" column="department_num"/>	
		<result property="positionNum" column="position_num"/>	
		<result property="memberInsertDate" column="member_insert_date"/>	
	
	<association property ="memberDepartmentList" javaType="memberDepartmentList">
		<id property="departmentNum" 				column="department_num"/>
		<result property="departmentName" 		column="department_name"/>
		<result property="memberNum" 			column="member_num"/>
		<result property="departmentRegDate" 		column="department_reg_date"/>
		<result property="departmentUpdateDate" 	column="department_update_date"/>
		<result property="departmentModifier" 	column="department_modifier"/>
		<result property="useOrNot" 			column="use_or_not"/>
	</association>
	
	</resultMap>
	
	<resultMap type ="memberDepartmentList" id="memberDepartmentListMap">
		<id property="departmentNum" 				column="department_num"/>
		<result property="departmentName" 		column="department_name"/>
		<result property="memberNum" 			column="member_num"/>
		<result property="departmentRegDate" 		column="department_reg_date"/>
		<result property="departmentUpdateDate" 	column="department_update_date"/>
		<result property="departmentModifier" 	column="department_modifier"/>
		<result property="useOrNot" 			column="use_or_not"/>
	</resultMap>
	
	
	
	<select id="getCommonNewCode" parameterType="String" resultType="String">
		/* 자동증가코드 */
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN CONCAT(#{column}, '_1')
			ELSE
				CONCAT(#{column},'_', MAX(CAST(SUBSTRING_INDEX(${column}, CONCAT(#{column}, '_'), -1) AS UNSIGNED))+1)
			END AS newCode
		FROM
			${table} ;
	</select>
	
	<insert id="ProjectMemberInsert" parameterType="ProjectMember">
	INSERT INTO tb_project_member
	(project_join_num, project_num, member_num, join_start_date, join_content)
	VALUES (#{projectJoinNum}, #{projectNum}, #{memberNum}, NOW(), #{joinContent});
	</insert>
	
	<select id="projectMemberList" resultMap="projectMemberResultMap" parameterType="String" resultType="String">
	SELECT
	*
	FROM
	tb_member AS m
	INNER JOIN
	tb_project_member AS pm
	ON
	m.member_num = pm.member_num
	WHERE
	pm.project_num = #{projectNum}
	ORDER BY 
	length(project_join_num)
	</select>
	
	<select id="memberDepartmentList" resultMap="memberDepartmentListMap">
	SELECT
	*
	FROM
	tb_department_list
	WHERE
	use_or_not = 'Y'
	</select>
	
	
	
	<select id="getMemberListCnt" resultType="int">
	/*사원 이력테이블 전체 행의 갯수*/
		SELECT
	COUNT(1)
	FROM
	tb_member AS m
	INNER JOIN
	tb_project_member AS pm
	ON
	m.member_num = pm.member_num
	
	</select>
	
	
	<select id="memberList" resultMap="MemberListMap" parameterType="map">
	SELECT
	*
	FROM
	tb_member AS m
	INNER JOIN
	tb_department_list AS dl
	ON
	m.member_department_num = dl.department_num
	<if test="startRowNum !=null and startRowNum> -1">
		LIMIT #{startRowNum}, #{rowPerPage};
		</if>
	</select>
	
	<delete id="projectMemberDelete" parameterType="String">
	DELETE
	FROM
	tb_project_member AS pm
	WHERE
	pm.project_join_num = #{projectJoinNum}
	
	</delete>
	
	<select id="projectIdCnt" resultType="int">
	SELECT
	COUNT(#{memberNum})
	FROM
	tb_project_member AS pm
	WHERE
	pm.project_num = #{projectNum}
	AND
	pm.member_num = #{memberNum}
	</select>
	
</mapper>