<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team01.unity.mapper.ProjectListMapper">
	<resultMap type="ProjectBoard" id="ProjectBoardResultMap">
		<id property="projectBoardNum" column="project_board_num"/>
		<result property="projectNum" column="project_num"/>
		<result property="memberNum" column="member_num"/>
		<result property="projectBoardTitle" column="project_board_title"/>
		<result property="projectBoardContent" column="project_board_content"/>
		<result property="projectBoardModifier" column="project_board_modifier"/>
		<result property="projectBoardRegDate" column="project_board_reg_date"/>	
		<result property="projectBoardUpdateDate" column="project_board_update_date"/>
	</resultMap>
	
	
	<select id="projectBoardList" resultMap="ProjectBoardResultMap" parameterType="String"> 
		SELECT 
			*
		FROM 
			tb_project_board
		WHERE
			project_num= #{projectNum}
	</select>
	
	<select id="projectBoardCode" parameterType="String" resultType="String">
	/* 자동증가코드 */
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN CONCAT(#{column}, '_1')
			ELSE
				CONCAT(#{column},'_', MAX(CAST(SUBSTRING_INDEX(${column}, CONCAT(#{column}, '_'), -1) AS UNSIGNED))+1)
			END AS newCode
		FROM
			${table} ;
	</select>
	
	<insert id="projectBoardInsert" parameterType="ProjectBoard">
	INSERT INTO tb_project_board
	(project_board_num, project_num, member_num, project_board_title, project_board_content, project_board_reg_date)
	VALUES (#{projectBoardNum}, #{projectNum},#{memberNum},#{projectBoardTitle},#{projectBoardContent}, NOW())
	</insert>
	
</mapper>