<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team01.unity.mapper.WorkTypeMapper">
	<resultMap type="WorkType" id="workTypeResultMap">
		<id		property="workTypeNum"	column="work_type_num" />
		<result property="memberNum"  column="member_num" />
		<result property="workName"  column="work_name" />
		<result property="workDate"  column="work_date" />
		<result property="attendanceTime"  column="attendance_time" />
		<result property="leaveWorkTime"  column="leavework_time" />
		<result property="regMemberDate"  column="reg_member_num" />
		<result property="regDate"  column="reg_date" />
		<result property="correctMemberNum"  column="correct_member_num" />
		<result property="correctDate"  column="correct_date" />
		<result property="use"  column="use" />
		<result property="workTypeUsePeriod"  column="work_type_use_period" />
	</resultMap>
	
	<select id="getAllWorkType" resultMap="workTypeResultMap">
		/* 근무유형 조회 */
		SELECT
			t.work_type_num
			,t.member_num
			,t.work_name
			,t.work_date
			,t.attendance_time
			,t.leavework_time
			,t.reg_member_num
			,t.reg_date
			,t.correct_member_num
			,t.correct_date
			,t.`use`
			,t.work_type_use_period
		FROM
		tb_work_type AS t;
	</select>
</mapper>