<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team01.unity.mapper.WorkTypeMapper">
	<resultMap type="WorkType" id="workTypeResultMap">
		<id		property="workTypeNum"	column="work_type_num" />
		<result property="memberNum"  column="member_num" />
		<result property="workName"  column="work_name" />
		<result property="workDate"  column="work_date" />
		<result property="attendanceTime"  column="attendance_time_type" />
		<result property="leaveWorkTime"  column="leavework_time_type" />
		<result property="regMemberNum"  column="reg_member_num" />
		<result property="regDate"  column="reg_date" />
		<result property="correctMemberNum"  column="correct_member_num" />
		<result property="correctDate"  column="correct_date" />
		<result property="use"  column="use" />
		<result property="workTypeUsePeriod"  column="work_type_use_period" />
	</resultMap>
	
	<select id="getAllWorkType" resultMap="workTypeResultMap" parameterType="map">
		/* 근무유형 조회 */
		SELECT
			t.work_type_num
			,t.member_num
			,t.work_name
			,t.work_date
			,t.attendance_time_type
			,t.leavework_time_type
			,t.reg_member_num
			,t.reg_date
			,t.correct_member_num
			,t.correct_date
			,t.`use`
			,t.work_type_use_period
		FROM
		tb_work_type AS t
		ORDER BY t.work_date 
		<if test="startRowNum !=null and startRowNum > -1">
			LIMIT #{startRowNum}, #{rowPerPage};
		</if>
	</select>
	<select id="countAllWorkType" resultType="int">
		/* 근태 유형 테이블 전체 행의 갯수  */
		select
			count(1)
		from
			tb_work_type;
	</select>
	<insert id="addWorkType" parameterType="WorkType">
	/* 근태유형 입력 */
	INSERT INTO tb_work_type
		(work_type_num, 
		member_num, 
		work_name,
		work_date, 
		attendance_time_type, 
		leavework_time_type, 
		reg_member_num, 
		reg_date, 
		`use`, 
		work_type_use_period)
	VALUES (sf_workTypeNum(), 
		#{memberNum}, 
		#{workName}, 
		#{workDate}, 
		#{attendanceTime},
		#{leaveWorkTime}, 
		#{regMemberNum}, 
		now(), 
		#{use}, 
		#{workTypeUsePeriod});
	</insert>
	<select id="getWorkTypeById" parameterType="String" resultMap="workTypeResultMap">
		SELECT 
		  work_type_num,
		  member_num, 
		  work_name,
		  work_date,
		  attendance_time_type, 
		  leavework_time_type, 
		  reg_member_num, 
		  reg_date, 
		  correct_member_num, 
		  correct_date, 
		  `use`, 
		  work_type_use_period
  
		FROM tb_work_type AS t

		WHERE work_type_num=#{workTypeNum};
	</select>
	<update id="updateWorkType" parameterType="WorkType">
	/* 근무유형 수정 */
	UPDATE tb_work_type
	<trim prefix="SET" prefixOverrides=",">
		<if test="memberNum != null and memberNum != ''">
			member_num=#{memberNum},
		</if>
		<if test="workName != null and workName != ''">
			work_name=#{workName},
		</if>
		<if test="workDate != null and workDate != ''">
			work_date=#{workDate},
		</if>
		<if test="attendanceTime != null and attendanceTime != ''">
			attendance_time_type=#{attendanceTime},
		</if>
		<if test="leaveWorkTime != null and leaveWorkTime != ''">
			leavework_time_type=#{leaveWorkTime},
		</if>
		<if test="correctMemberNum != null and correctMemberNum != ''">
			correct_member_num=#{correctMemberNum},
		</if>
		<if test="correctDate != null and correctDate != ''">
			correct_date=NOW(),
		</if>
		<if test="`use` != null and `use` != ''">
			`use`='',
		</if>
		<if test="workTypeUsePeriod != null and workTypeUsePeriod != ''">
			work_type_use_period=#{workTypeUsePeriod}
		</if>
	</trim>
	WHERE work_type_num=#{workTypeNum};
	</update>
	
</mapper>