<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<title th:text="${title}"></title>
</head>
<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>부서연차조회</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">부서연차조회</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>

<th:block layout:fragment="customContents">
	<table class="table table-hover" style="margin-top:30px;">
			<thead>
				<tr>
					<th scope="col">사원이름</th>
					<th scope="col">휴가시작일</th>
					<th scope="col">휴가종료일</th>
					<th scope="col">총 휴가요청일</th>
					<th scope="col">총 휴가요청시간</th>
					<th scope="col">내용 및 사유</th>
					<th scope="col">상세정보</th>
				</tr>
			</thead>
			<tbody>
				 <tr th:if="${not #lists.isEmpty(vacationApproval)}" th:each="a : ${vacationApproval}">
				 	  <td th:text="${a.memberList.memberName}"></td>
	                  <td th:text="${a.vacationStartDate}"></td>
	                  <td th:text="${a.vacationEndDate}"></td>
	                  <td th:text="${a.totalVacationUseDate}"></td>
	                  <td th:text="${a.totalVacationUseTime}"></td>
	                  <td th:text="${a.vacationReason}"></td>
	                  <td><button class="btn btn-primary" th:href="@{/vacation/vacationInfoList(memberNum=${a.memberNum})}">확인</button></td>
	              </tr>
	              <tr th:unless="${not #lists.isEmpty(vacationApproval)}">
	              </tr> 
			</tbody>
		</table>
</th:block>
</html>