<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="row">
			<div class="col-md-12 m-b-30">
				<!-- begin page title -->
				<div class="d-block d-lg-flex flex-nowrap align-items-center">
					<div class="page-title mr-4 pr-4 border-right">
						<h1>파일카테고리 목록</h1>
					</div>
					<div class="breadcrumb-bar align-items-center">
						<nav>
							<ol class="breadcrumb p-0 m-b-0">
								<li class="breadcrumb-item"><a href="/"><i
										class="ti ti-home"></i></a></li>
								<li class="breadcrumb-item active text-primary"
									aria-current="page">파일카테고리 목록</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customContents">
		<form id="fileBoardCateModify" th:action="@{/fileBoardCate/fileBoardCateModify}" method="post">
			<h4>카테고리 수정</h4>
			<input type="hidden" name="fileCategoryCode" id="fileCategoryCode"/>
			<label for="fileCategoryName">카테고리명</label>
			<div style="width: 800px;">
				<input type="text" class="form-control" id="fileCategoryName" name="fileCategoryName"/>
			</div>
				<label for="fileBoardRegistrant">작성자</label>
			<div style="width: 800px;">
				<input type="text" class="form-control" id="fileBoardRegistrant" name="fileCategoryRegistrant"readonly="readonly"/>
			</div>
				<label for="fileCategoryModifier">수정자</label>
			<div style="width: 800px;">
				<input type="text" class="form-control" id="fileCategoryModifier" name="fileCategoryModifier" th:value="${session.SID}" required/>
			</div>
			<div style="margin-left: 730px; margin-top: 8px; margin-bottom: 8px;">
				<button type="submit" class="btn btn-outline-success">저장</button>
				<span style="margin-left: 300px;">
					<a class="btn btn-outline-success" href="/fileBoardCate/addFileBoardCate">카테고리등록</a>
				</span>
			</div>
		</form>
		<table class="table table-bordered">
			<thead>
				<tr style="text-align: center;">
					<th>카테고리명</th>
					<th>등록자</th>
					<th>직급</th>
					<th>부서</th>
					<th>등록일</th>
					<th>수정자</th>
					<th>수정일자</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(fileBoardCateList)}" th:each="f : ${fileBoardCateList}" style="text-align: center;">
					<td th:text=${f.fileBoardCate.fileCategoryName}></td>
					<td th:text=${f.memberList.memberName}></td>
					<td th:text="${f.memberPositionList.positionName}"></td>
					<td th:text="${f.memberDepartmentList.departmentName}"></td>
					<td th:text="${f.fileBoardCate.fileCategoryRegDate}"></td>
					<td th:text="${f.fileBoardCate.fileCategoryModifier}"></td>
					<td th:text="${f.fileBoardCate.fileCategoryModificationDate}"></td>
					<td>
						<button th:value="${f.fileCategoryCode}" class="btn btn-round btn-outline-info" name="modifyBtn" type="submit">수정</button>
					</td>
					<td>
						<a class="btn btn-round btn-outline-danger" th:href="@{/fileBoardCate/fileBoardCateDelete(fileCategoryCode=${f.fileCategoryCode})}" type="submit">삭제</a>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(fileBoardCateList)}" th:each="f : ${fileBoardCateList}">
					<td colspan="13">등록된 파일카테고리가 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<th:block layout:fragment="customScript">
		<script>
			$('button[name=modifyBtn]').click(function(){
	    		const fileCategoryCode = $(this).val();
				$.ajax({
					 	url: "/fileBoardCate/ajaxModify",
			            type: "GET",
			            data: {fileCategoryCode},
			            contentType: 'application/json; charset=utf-8',
			            dataType: "json",
			            success: function(result){
			            			$('#fileCategoryCode').val(result[0].fileCategoryCode);
			            			$('#fileCategoryName').val(result[0].fileCategoryName);
			            			$('#fileBoardRegistrant').val(result[0].fileCategoryRegistrant);
			            },
			            error: function(){
			                alert("error");
			            }
				});
			});

		</script>
	</th:block>
</html>