<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">파일수정</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item"><a href="/file/fileList">파일목록</a></li>
							<li class="breadcrumb-item active" aria-current="page">파일수정</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customContents">
		<form id="fileBoardUpdate" th:action="@{/fileBoard/fileBoardUpdate}" method="post">
			<input type="hidden" name="fileBoardNum" th:value="${boardFileView.fileBoardNum}"/>
			<label for="fileBoardTitle">서식명</label>
			<div style="width: 800px;">
				<input type="text" class="form-control" id="fileBoardTitle" name="fileBoardTitle" th:value="${boardFileView.fileBoardTitle}"/>
			</div>
				<label for="fileBoardRegistrant">작성자</label>
			<div style="width: 800px;">
				<input type="text" class="form-control" id="fileBoardRegistrant" name="fileBoardRegistrant" th:value="${boardFileView.fileBoardRegistrant}" readonly="readonly"/>
			</div>
				<label for="fileModifier">수정자</label>
			<div style="width: 800px;">
				<input type="text" class="form-control" id="fileModifier" name="fileModifier" th:value="${boardFileView.fileModifier}"/>
			</div>
			<label for="fileBoardContents">내용</label>
			<textarea class="form-control" name="fileBoardContents" id="fileBoardContents" style="height: 150px; width: 800px;" th:text="${boardFileView.fileBoardContents}"></textarea>
			<div style="margin-top: 8px">
				<input name="fileAttach" type="file"/>
			</div>
			<div style="margin-left: 300px; margin-top: 8px;">
			<button type="submit" class="btn btn-outline-success">등록</button>
			<button type="button" class="btn btn-outline-success" onclick="location.href='/fileBoard/hrList';">취소</button>
			</div>
		</form>
	</th:block>
</html>