<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-11">
					<h4 class="page-title">파일목록</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">파일목록</li>
						</ol>
					</div>
				</div>
		<div style="text-align: right;">
			<button class="btn btn-outline-success" onclick="location.href='/fileBoard/addBoardFile';">
				<i class="feather icon-plus mr-2"></i>파일등록
			</button>
		</div>
			</div>
		</div>
	<th:block layout:fragment="customContents">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>파일번호</th>
					<th>파일명</th>
					<th>작성자</th>
					<th>부서명</th>
					<th>직급명</th>
					<th>작성일자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(hrList)}" th:each="f : ${hrList}">
					<th th:text=${f.fileBoardNum} scope="col"></th>
					<td>
						<a th:href="@{/fileBoard/fileBoardView(fileBoardNum = ${f.fileBoardNum})}">[[${f.fileBoardTitle}]]</a>
					</td>
					<td th:text=${f.fileBoardRegistrant}></td>
					<td>부장</td>
					<td>인사과</td>
					<td th:text=${f.fileRegDate}></td>
				</tr>
				<tr th:if="${#lists.isEmpty(hrList)}" th:each="f : ${hrList}">
					<td colspan="6">등록된 파일이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</html>