<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">[[${formView.formName}]]</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item"><a href="/form/formList">서식목록</a></li>
							<li class="breadcrumb-item active" aria-current="page">[[${formView.formName}]]</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="table-responsive" style="width: 70%;">
			<table class="table display responsive nowrap table-light table-bordered">
				<tr>
					<td style="font-family:돋음; font-size:12" height="50" width="30%">
						<div align="center">서식번호</div>
					</td>
					<td style="font-family:돋음; font-size:12">
						[[${formView.formNum}]]
					</td>
				</tr>
				<tr>
					<td style="font-family:돋음; font-size:12">
						<div align="center">제목</div>
					</td>
					<td style="font-family:돋음; font-size:12">
						[[${formView.formName}]]
					</td>
				</tr>
				<tr>
					<td style="font-family:돋음; font-size:12">
						<div align="center">내용</div>
					</td>
					<td style="font-family:돋음; font-size:12">
						<textarea class="form-control" th:text="${formView.formContents}" disabled="disabled" style="background-color: white;"></textarea>
					</td>
				</tr>
			</table>
			<div style="text-align: center;">
				<a class="btn btn-outline-success" th:href="@{/form/formUpdate(formNum=${formView.formNum})}">수정</a>
				<a class="btn btn-outline-success" th:href="@{/form/formDelete(formNum=${formView.formNum})}">삭제</a>
				<a class="btn btn-outline-success" th:href="@{/form/formList}">목록</a>
			</div>
		</div>
	</th:block>
</html>