<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-11">
					<h4 class="page-title">서식목록</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">서식목록</li>
						</ol>
					</div>
				</div>
				<div style="text-align: right;">
					<button class="btn btn-outline-success"
						onclick="location.href='/form/addForm';">
						<i class="feather icon-plus mr-2"></i>서식등록
					</button>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customContents">
		<div th:fragment="searchFragment">
			<form th:action="@{/form/formList}" method="get">
				<select name="searchKey">
					<option value="formName">서식명</option>
					<option value="formRegiStrant">작성자</option>
				</select>
				<input type="text" name="searchValue" placeholder="검색어를 입력해주세요."/>
				<button class="btn btn-outline-success" type="submit" style="height: 35px;">검색</button>
			</form>
		</div>
		<th:block th:text="'서식 개수 : ' + ${cnt}" />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>서식번호</th>
					<th>서식명</th>
					<th>작성자</th>
					<th>작성일자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(formList)}" th:each="f : ${formList}">
					<td th:text="${f.formNum}"></td>
					<td><a th:href="@{/form/formView(formNum=${f.formNum})}">
							[[${f.formName}]] </a></td>
					<td th:text="${f.formRegiStrant}"></td>
					<td th:text="${f.formCommentRegDate}"></td>
				</tr>
				<tr th:if="${#lists.isEmpty(formList)}">
					<td colspan="4">등록된 서식이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</html>