<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>휴가종류 수정</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item"><a
								href="/settings/vacationVarietyList">휴가설정</a></li>
							<li class="breadcrumb-item active text-primary" aria-current="page">휴가종류
								수정</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>


<th:block layout:fragment="customContents">
	<form th:action="@{/settings/vacationSortModify}" method="post" th:object="${vacactionSort}">
		<input type="hidden" th:value="*{vacationSortNum}" name="vacationSortNum">
		<div class="form-group">
			<label for="vacationSortName">휴가명</label> <input type="text"
				class="form-control" th:value="*{vacationSortName}" name="vacationSortName" required>
		</div>
		<div class="form-group">
			<label for="correctMemberNum">수정사원</label> <input type="text"
				class="form-control"  name="correctMemberNum" id="correctMemberNum" required>
		</div>
		<div class="form-group">
			<label for="vacationUse">사용유무</label> <input type="text"
				class="form-control" th:value="*{vacationUse}" name="vacationUse" id="vacationUse" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>

</html>