<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
 <th:block th:fragment="vacationStandard"> 
	<div style="width: 50%; float: left; margin-top: 40px;">
		<div class="col-md-12 col-lg-12">
			<div class="widgetbar"
				style="margin-bottom: 20px; margin-right: 120px; float: right">
				<a class="btn btn-outline-success"
					th:href="@{/settings/vacationStandardInsert}">
					<i class="feather icon-plus mr-2"> 등록</i>
				</a>
			</div>
		</div>
		<h3>휴가기준 설정</h3>
		<div class="col-md-10 col-lg-10">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="hidden">기준코드</th>
						<th scope="col">근속연수</th>
						<th scope="col">휴가개수</th>
						<th scope="col">사용여부</th>
						<th scope="col">수정</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<tr th:if="${not #lists.isEmpty(standard)}"
						th:each="st : ${standard}">
						<td id="typeCode" class="hidden" th:text="${st.serviceNum}"></td>
						<td th:text="${st.lengthOfService}"></td>
						<td th:text="${st.addVacation}"></td>
						<td>
							<div class="form-group">
								<div class="checkbox checbox-switch switch-primary">
									<label> <input type="checkbox" name="vacationStandardUse" id="vacationStandardUse"
										th:checked="${st.vacationStandardUse}" /> <span></span>
									</label>
								</div>
							</div>
						</td>
						<td>
							<button name="standardModifyBtn" th:value="${st.serviceNum}" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 " type="submit"><i class="ti ti-pencil"></i></button>						
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; float: right;  margin-top: 40px;">
		<div class="col-md-10 col-lg-10" style="margin-bottom:auto; margin-top:20px;">
			<form th:action="@{/settings/vacationStandardModify}" method="post" >
				<div class="form-group">
					<input type="hidden" class="form-control" name="serviceNum" id="serviceNum"/>
				</div>
				<div class="form-group">
					<label for="lengthOfService">근속연수</label>
					<input type="text" class="form-control" name="lengthOfService" id="lengthOfService" />
				</div>
				<div class="form-group">
					<label for="addVacation">휴가 개수</label> 
					<input type="text"class="form-control" name="addVacation" id="addVacation"/>
				</div>
				<div class="form-group">
					<label for="correctMemberNum">수정사원</label> 
					<input type="text"class="form-control" name="correctMemberNum" id="correctMemberNum" th:value="${session.SID}"/>
				</div>
				<div class="form-group">
					<label for="giveTime">지급시기</label> 
					<select class="form-control"  name="giveTime" style="width: 300px;" >
						<option value="매년 초">매년 초</option>
						<option value="입사일">입사일</option>
					</select>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="vacationStandardUse" id="vacationStandardUse" >
					<label class="form-check-label" for="vacationStandardUse"> 사용여부 </label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</th:block>
</html>