<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<!-- begin page title -->
	<div class="row align-items-center">
		<div class="col-md-8 col-lg-8">
			<h4 class="page-title">휴가종류 수정</h4>
			<div class="breadcrumb-list">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a
						href="/settings/vacationVarietyList">휴가설정</a></li>
					<li class="breadcrumb-item active" aria-current="page">휴가종류 수정</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>


<th:block layout:fragment="customContents">
	<form>
		<div class="form-group">
			<label for="vacationName">휴가명</label> <input type="text"
				class="form-control" id="vacationName" required>
		</div>
		<div class="form-group">
			<label for="vacationType">최대 사용일수</label> <input type="text"
				class="form-control" id="vacationType" required>
		</div>
		<div class="form-group">
			<label for="subtractUnit">차감단위</label> <input type="text"
				class="form-control" name="inputDate" id="inputDate" required>
		</div>
		<div class="form-group">
			<label for="vacationUse">사용유무</label> <input type="text"
				class="form-control" name="vacationUse" id="vacationUse" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>

</html>