<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

 <th:block th:fragment="vacationType"> 
	<div style="width: 50%; float: left; margin-top: 40px;">
		<div class="col-md-12 col-lg-12">
			<div class="widgetbar"
				style="margin-bottom: 20px; margin-right: 120px; float: right;">
				<a class="btn btn-outline-success"
					th:href="@{/settings/vacationTypeInsert}">
					<i class="feather icon-plus mr-2"> 등록</i>
				</a>
			</div>
		</div>
		<h3>휴가종류 설정</h3>
		<div class="col-md-10 col-lg-10">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="hidden">휴가코드</th>
						<th scope="col">휴가명</th>
						<th scope="col">차감단위</th>
						<th scope="col">사용유무</th>
						<th scope="col">수정</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<tr th:if="${not #lists.isEmpty(type)}" th:each="t : ${type}">
						<td id="typeCode" class="hidden" th:text="${t.vacationTypeNum}"></td>
						<td th:text="${t.vacationName}"></td>
						<td th:text="${t.subtractUnit}"></td>
						<td>
							<div class="form-group">
								<div class="checkbox checbox-switch switch-primary">
									<label> <input type="checkbox" name="typeVacationUse" id="typeVacationUse"
										th:checked="${t.vacationUse}" /> <span></span>
									</label>
								</div>
							</div>
						</td>
						<td>
							<!-- (workTypeNum=${wt.workTypeNum}) --> 
							<button name="typeModifyBtn" th:value="${t.vacationTypeNum}" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 " type="submit"><i class="ti ti-pencil"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div style="width: 50%; float: right;  margin-top: 40px;">
		<div class="col-md-10 col-lg-10" style="margin-bottom:auto; margin-top:20px;">
			<form th:action="@{/settings/vacationTypeModify}" method="post" >
				<input type="hidden" class="form-control"  name="vacationTypeNum" id="vacationTypeNum">
				<div class="form-group">
					<label for="vacationName">휴가명</label> 
					<input type="text" class="form-control"  name="vacationName" id="vacationName" readonly>
				</div>
				<div class="form-group">
					<label for="vacationType">최대 사용일수</label> 
					<input type="text" class="form-control"  name="vacationType" id="vacationType">
				</div>
				<div class="form-group">
					<label for="subtractUnit">차감단위</label> 
					<input type="text" class="form-control" name="subtractUnit" id="subtractUnit">
				</div>
				<div class="form-group">
					<label for="correctMemberNum">등록 사원번호</label> 
					<input type="text" class="form-control" name="correctMemberNum" th:value="${session.SID}" >
				</div>
					<label class="d-block mb-2" >사용여부</label>
						<div class="form-check mb-0 py-2">
	                        <input class="form-check-input" type="radio" name="vacationUse" id="toast-bottom-left" value="on">
	                        <label class="form-check-label" for="toast-bottom-left">사용</label>
	                    </div>
	                    <div class="form-check mb-0 py-2">
	                        <input class="form-check-input" type="radio" name="vacationUse" id="toast-top-left" value="off">
	                        <label class="form-check-label" for="toast-top-left">사용안함</label>
	                    </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</th:block>
</html>