<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
 	<th:block th:fragment="vacationSort"> 
		<div style="width: 50%; float: left; margin-top: 40px;">
			<div class="col-md-12 col-lg-12">
				<div class="widgetbar"
					style="margin-bottom: 20px; margin-right: 120px; float: right;">
					<a class="btn btn-outline-success"
						th:href="@{/settings/vacationSortInsert}">
						<i class="feather icon-plus mr-2"> 등록</i>
					</a>
				</div>
			</div>
			<h3>휴가중분류 설정</h3>
			<div class="col-md-10 col-lg-10">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" class="hidden">휴가코드</th>
							<th scope="col">휴가명</th>
							<th scope="col">사용유무</th>
							<th scope="col">수정</th>
						</tr>
					</thead>
					<tbody>
						<tr class="trClass" th:if="${not #lists.isEmpty(sort)}" th:each="s : ${sort}">
							<td id="typeCode" class="hidden" th:text="${s.vacationSortNum}"></td>
							<td th:text="${s.vacationSortName}"></td>
							<td>
								<div class="form-group">
									<div class="checkbox checbox-switch switch-primary">
										<label> <input type="checkbox" name="sortVacationUse" id="sortVacationUse"
											th:checked="${s.vacationUse}" /> <span></span>
										</label>
									</div>
								</div>
							</td>
							<td>
								<!-- (workTypeNum=${wt.workTypeNum}) --> 
								<button type="submit" name="sortModifyBtn" th:value="${s.vacationSortNum}" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i class="ti ti-pencil"></i></button>
							</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(category)}">
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="width: 50%; float: right;  margin-top: 40px;">
			<div class="col-md-10 col-lg-10" style="margin-bottom:auto; margin-top:20px;">
				<form th:action="@{/settings/vacationSortModify}" method="post">
					<input type="hidden" name="vacationSortNum" id="vacationSortNum">
					<div class="form-group">
						<label for="vacationSortName">휴가명</label>
						<input type="text" class="form-control"  name="vacationSortName" id="vacationSortName" required>
					</div>
					<div class="form-group">
						<label for="correctMemberNum">수정사원</label>
						<input type="text" class="form-control" th:value=${session.SID} name="correctMemberNum" id="correctMemberNum" required>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="on" name="vacationUse" id="use" required>
						<label class="form-check-label" for="use"> 사용여부 </label>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
</th:block>
</html>