<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>휴가기준 수정</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item"><a href="/settings/vacationVarietyList">휴가기준 설정</a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">휴가기준 수정</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>


<th:block layout:fragment="customContents">
<title th:text="${title}"></title>
	<form th:action="@{/settings/vacationStandardModify}" method="post" th:object="${vacationStandard}">
	<div class="form-group">
		<input type="hidden" class="form-control" name="serviceNum" th:value="*{serviceNum}" />
		</div>
		<div class="form-group">
			<label for="lengthOfService">근속연수</label> <input type="text"
				class="form-control" name="lengthOfService" th:value="*{lengthOfService}" required />
		</div>
		<div class="form-group">
			<label for="addVacation">휴가 개수</label> <input type="text"
				class="form-control" name="addVacation" th:value="*{addVacation}" required />
		</div>
					<div class="form-group">
				<label for="giveTime">지급시기</label> 
				<select class="form-control"  name="giveTime" th:selected=*{giveTime} style="width: 300px;" required>
					<option value="매년 초" th:selected="*{giveTime}==${'매년 초'}">매년 초</option>
					<option value="입사일" th:selected="*{giveTime}==${'입사일'}">입사일</option>
				</select>
			</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="vacationStandardUse" id="vacationStandardUse" >
			<label class="form-check-label" for="vacationStandardUse"> 사용여부 </label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>

</html>