<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>휴가종류 수정</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item"><a
								href="/settings/vacationVarietyList">휴가설정</a></li>
							<li class="breadcrumb-item active text-primary" aria-current="page">휴가종류
								수정</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>


<th:block layout:fragment="customContents">
<title th:text="title"></title>
	<form th:action="@{/settings/vacationTypeModify}" method="post" th:object="${vacationType}">
	<input type="hidden"
				class="form-control" th:value="*{vacationTypeNum}" name="vacationTypeNum">
		<div class="form-group">
			<label for="vacationName">휴가명</label> 
			<input type="text" class="form-control" th:value="*{vacationName}" name="vacationName" readonly>
		</div>
		<div class="form-group">
			<label for="vacationType">최대 사용일수</label> 
			<input type="text" class="form-control" th:value="*{vacationType}" name="vacationType" >
		</div>
		<div class="form-group">
			<label for="subtractUnit">차감단위</label> 
			<input type="text" class="form-control" name="subtractUnit" th:value="*{subtractUnit}" >
		</div>
		<div class="form-group">
			<label for="correctMemberNum">등록 사원번호</label> 
			<input type="text" class="form-control" name="correctMemberNum" th:value="*{memberNum}" >
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="use" name="vacationUse" required>
			<label class="form-check-label" for="use"> 사용여부 </label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>

</html>