<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>휴가부여</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item">휴가기준 설정</li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">휴가부여</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>
<th:block layout:fragment="customContents">
	<form>
		<div class="form-group">
			<label for="memberNum">사원번호</label> <select class="form-control"
				id="memberNum" required>
				<option value="사원번호골라"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="serviceYear">근속연수</label> <select class="form-control"
				id="serviceYear" required>
				<option value="사원번호골라"></option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>
</html>