<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<!-- begin page title -->
	<div class="row align-items-center">
		<div class="col-md-8 col-lg-8">
			<h4 class="page-title">전사원근무유형</h4>
			<div class="breadcrumb-list">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">전사원근무유형</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- end page title -->
	<div class="col-md-12 col-lg-12">
		<div class="widgetbar"
			style="margin-bottom: 20px; margin-right: 40px; float: right">
			<button type="button" class="btn btn-outline-success"
				onclick="location.href='/settings/workTypeInsert'">
				<i class="feather icon-plus mr-2"> Insert</i>
			</button>
		</div>
	</div>
</th:block>


<th:block layout:fragment="customContents">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">근태유형번호</th>
				<th scope="col">사원번호</th>
				<th scope="col">근태명</th>
				<th scope="col">근무일</th>
				<th scope="col">출근시간</th>
				<th scope="col">퇴근시간</th>
				<th scope="col">사용기한</th>
				<th scope="col">수정</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${not #lists.isEmpty(workTypeList)}"
				th:each="t : ${workTypeList}">
				<td th:text="${t.workTypeNum}"></td>
				<td th:text="${t.memberNum}"></td>
				<td th:text="${t.workName}"></td>
				<td th:text="${t.workDate}"></td>
				<td th:text="${t.attendanceTime}"></td>
				<td th:text="${t.leaveWorkTime}"></td>
				<td th:text="${t.workTypeUsePeriod}"></td>
				<td><a
					th:href="@{/settings/workTypeModify(workTypeNum=${t.workTypeNum})}">수정</a>
				</td>
			</tr>
			<tr th:unless="${not #lists.isEmpty(workTypeList)}">
			</tr>
		</tbody>
	</table>

</th:block>
</html>