<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>전사원근무유형</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">전사원근무유형</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
	<div class="col-md-12 col-lg-12">
		<div class="widgetbar"
			style="margin-bottom: 20px; margin-right: 40px; float: right">
			<button type="button" class="btn btn-outline-success"
				onclick="location.href='/settings/workTypeInsert'">
				<i class="feather icon-plus mr-2"> Insert</i>
			</button>
		</div>
	</div>
</th:block>


<th:block layout:fragment="customContents">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">근태유형번호</th>
				<th scope="col">사원번호</th>
				<th scope="col">근태명</th>
				<th scope="col">근무일</th>
				<th scope="col">출근시간</th>
				<th scope="col">퇴근시간</th>
				<th scope="col">사용기한</th>
				<th scope="col">수정</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${not #lists.isEmpty(workTypeList)}"
				th:each="t : ${workTypeList}">
				<td th:text="${t.workTypeNum}"></td>
				<td th:text="${t.memberNum}"></td>
				<td th:text="${t.workName}"></td>
				<td th:text="${t.workDate}"></td>
				<td th:text="${t.attendanceTime}"></td>
				<td th:text="${t.leaveWorkTime}"></td>
				<td th:text="${t.workTypeUsePeriod}"></td>
				<td><a
					th:href="@{/settings/workTypeModify(workTypeNum=${t.workTypeNum})}">수정</a>
				</td>
			</tr>
			<tr th:unless="${not #lists.isEmpty(workTypeList)}">
			</tr>
		</tbody>
		<tfoot>
				<tr>
					<td colspan="7">
						<ul class="pagination justify-content-center">
							<li class="page-item active"><a class="page-link" href="javascript:void(0)" th:if="${currentPage != 1}" th:href="@{/settings/workTypeList}">[first]</a></li>
							<li class="page-item active"><a class="page-link" href="javascript:void(0)"  th:if="${currentPage > 1}" th:href="@{/settings/workTypeList(currentPage=${currentPage-1})}">Previous</a></li>
							<li class="page-item disabled"><a class="page-link"  href="javascript:void(0)" 
								th:unless="${currentPage>1}">Previous</a></li>
						<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
							<li class="page-item active"><a class="page-link"  href="javascript:void(0)" 
								th:if="${currentPage!=num}" th:href="@{/settings/workTypeList(currentPage=${num})}" th:text="|[${num}]|"></a></li>
							<li class="page-item disabled"><a class="page-link"  href="javascript:void(0)" 
								th:if="${currentPage==num}">[[${'['+num+']'}]]</a></li>
						</th:block>
							<li class="page-item"><a class="page-link"  href="javascript:void(0)" 
								th:if="${currentPage < lastPage}" th:href="@{/settings/workTypeList(currentPage=${currentPage+1})}">Next</a></li>
							<li class="page-item disabled"><a class="page-link"  href="javascript:void(0)" 
								th:unless="${currentPage<lastPage}">Next</a></li>
							<li class="page-item active"><a class="page-link"  href="javascript:void(0)" th:if="${currentPage != lastPage}"  th:href="@{/settings/workTypeList(currentPage=${lastPage})}">[End]</a></li>
						</ul>
					</td>
				</tr>
			</tfoot>
	</table>

</th:block>
</html>