<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>근태유형 추가</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item"><a href="/settings/workTypeList">전사원근무유형</a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">근태유형 추가</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>


<th:block layout:fragment="customContents">
	<form th:action="@{/settings/workTypeInsert}" method="post">
		<div class="form-group">
			<label for="memberNum">사원번호</label> <input type="text"
				class="form-control" name="memberNum" id="memberNum" required>
		</div>
		<div class="form-group">
			<label for="workName">근태명</label> <input type="text"
				class="form-control" name="workName" id="workName" required>
		</div>
		<div class="form-group">
			<label for="workDate">근무일</label> <input type="date"
				class="form-control" name="workDate" id="workDate" required>
		</div>
		<div class="form-group">
			<label for="attendanceTime">출근시간</label> <input type="time"
				class="form-control" name="attendanceTime" id="attendanceTime"
				required>
		</div>
		<div class="form-group">
			<label for="leaveWorkTime">퇴근시간</label> <input type="time"
				class="form-control" name="leaveWorkTime" id="leaveWorkTime"
				required>
		</div>
		<div class="form-group">
			<label for="regMemberNum">등록자</label> <input type="text"
				class="form-control" name="regMemberNum" id="regMemberNum" required>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="use" name="use"
				required> <label class="form-check-label" for="use">
				사용여부 </label>
		</div>
		<div class="form-group">
			<label for="workTypeUsePeriod">사용기한</label> <input type="date"
				class="form-control" name="workTypeUsePeriod" id="workTypeUsePeriod"
				required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>
</html>