<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">회의실 수정</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">예약</li>
							<li class="breadcrumb-item active" aria-current="page">회의실 수정</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<th:block layout:fragment="customContents">
		<div class="card-body">
		    <h6 class="card-subtitle"></h6>
		    	<form th:object="${meetingroom}" th:action="@{/reservation/meetingroomModify}" method="post">
		    		<input type="hidden"  th:value="*{meetNum}" name="meetNum" >
	        		<div class="form-group">
                    	<label for="exampleInputPassword1">회의실 명</label>
                   	 	<input type="text" class="form-control" id="exampleInputPassword1" name="meetName" th:value="*{meetName}">
                	</div>
			        <div class="form-group">
			            <label for="exampleInputPassword1">사용가능 시작시간</label>
			            	<select class="form-control" id="meetUsableStart" name="meetUsableStart">
				            	<option value="00:00">00:00</option>
				            	<option value="00:30">00:30</option>
				            	<option value="01:00">01:00</option>
				            	<option value="01:30">01:30</option>
				            	<option value="02:00">02:00</option>
				            	<option value="02:30">02:30</option>
				            	<option value="03:00">03:00</option>
				            	<option value="03:30">03:30</option>
				            	<option value="04:00">04:00</option>
				            	<option value="04:30">04:30</option>
				            	<option value="05:00">05:00</option>
				            	<option value="05:30">05:30</option>
				            	<option value="06:00">06:00</option>
				            	<option value="06:30">06:30</option>
				            	<option value="07:00">07:00</option>
				            	<option value="07:30">07:30</option>
				            	<option value="08:00">08:00</option>
				            	<option value="08:30">08:30</option>
				            	<option value="09:00">09:00</option>
				            	<option value="09:30">09:30</option>
				            	<option value="10:00">10:00</option>
				            	<option value="10:30">10:30</option>
				            	<option value="11:00">11:00</option>
				            	<option value="11:30">11:30</option>
				            	<option value="12:00">12:00</option>
				            	<option value="12:30">12:30</option>
				            	<option value="13:00">13:00</option>
				            	<option value="13:30">13:30</option>
				            	<option value="14:00">14:00</option>
				            	<option value="14:30">14:30</option>
				            	<option value="15:00">15:00</option>
				            	<option value="15:30">15:30</option>
				            	<option value="16:00">16:00</option>
				            	<option value="16:30">16:30</option>
				            	<option value="17:00">17:00</option>
				            	<option value="17:30">17:30</option>
				            	<option value="18:00">18:00</option>
				            	<option value="18:30">18:30</option>
				            	<option value="19:00">19:00</option>
				            	<option value="19:30">19:30</option>
				            	<option value="20:00">20:00</option>
				            	<option value="20:30">20:30</option>
				            	<option value="21:00">21:00</option>
				            	<option value="21:30">21:30</option>
				            	<option value="22:00">22:00</option>
				            	<option value="22:30">22:30</option>
				            	<option value="23:00">23:00</option>
				       	     	<option value="23:30">23:30</option>
		            		</select>
			        </div>
			        <div class="form-group">
			            <label for="exampleInputPassword1">사용가능 종료시간</label>
			            	<select class="form-control" id="meetUsableStart" name="meetUsableStart" th:value="*{meetUsableEnd}">
				            	<option value="00:00">00:00</option>
				            	<option value="00:30">00:30</option>
				            	<option value="01:00">01:00</option>
				            	<option value="01:30">01:30</option>
				            	<option value="02:00">02:00</option>
				            	<option value="02:30">02:30</option>
				            	<option value="03:00">03:00</option>
				            	<option value="03:30">03:30</option>
				            	<option value="04:00">04:00</option>
				            	<option value="04:30">04:30</option>
				            	<option value="05:00">05:00</option>
				            	<option value="05:30">05:30</option>
				            	<option value="06:00">06:00</option>
				            	<option value="06:30">06:30</option>
				            	<option value="07:00">07:00</option>
				            	<option value="07:30">07:30</option>
				            	<option value="08:00">08:00</option>
				            	<option value="08:30">08:30</option>
				            	<option value="09:00">09:00</option>
				            	<option value="09:30">09:30</option>
				            	<option value="10:00">10:00</option>
				            	<option value="10:30">10:30</option>
				            	<option value="11:00">11:00</option>
				            	<option value="11:30">11:30</option>
				            	<option value="12:00">12:00</option>
				            	<option value="12:30">12:30</option>
				            	<option value="13:00">13:00</option>
				            	<option value="13:30">13:30</option>
				            	<option value="14:00">14:00</option>
				            	<option value="14:30">14:30</option>
				            	<option value="15:00">15:00</option>
				            	<option value="15:30">15:30</option>
				            	<option value="16:00">16:00</option>
				            	<option value="16:30">16:30</option>
				            	<option value="17:00">17:00</option>
				            	<option value="17:30">17:30</option>
				            	<option value="18:00">18:00</option>
				            	<option value="18:30">18:30</option>
				            	<option value="19:00">19:00</option>
				            	<option value="19:30">19:30</option>
				            	<option value="20:00">20:00</option>
				            	<option value="20:30">20:30</option>
				            	<option value="21:00">21:00</option>
				            	<option value="21:30">21:30</option>
				            	<option value="22:00">22:00</option>
				            	<option value="22:30">22:30</option>
				            	<option value="23:00">23:00</option>
				       	     	<option value="23:30">23:30</option>
		            		</select>
			        </div>
			        <div class="form-group">
                    	<label for="exampleInputPassword1">회의실 위치</label>
                   	 	<input type="text" class="form-control" id="exampleInputPassword1" name="meetLocation" th:value="*{meetLocation}">
                	</div>
                	<div class="form-group">
                    	<label for="exampleInputPassword1">회의실 수용인원</label>
                   	 	<input type="text" class="form-control" id="exampleInputPassword1" name="meetCapacity" th:value="*{meetCapacity}">
                	</div>
                	<div class="form-group">
                    	<label for="exampleInputPassword1">회의실 상세 정보</label>
                   	 	<input type="text" class="form-control" id="exampleInputPassword1" name="meetDetail" th:value="*{meetDetail}">
                	</div>
		        <button type="submit" class="btn btn-primary">수정</button>
		    </form>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</th:block>
	<th:block layout:fragment="customScript">
	<script>

    //시작시간을 숫자로 변환
   	var first;
   	var second;
   		
   	$("#meetUsableStart").change(function(){
   		var startselected = $("#meetUsableStart option:selected").val();
   		first = startselected.substr(0,2) + startselected.substr(3,2);
   		console.log(first);
   		
   	});
    
   	//종료시간을 숫자로 변환
   	$("#meetUsableEnd").change(function(){
   		var endselected = $("#meetUsableEnd option:selected").val();
   		second = endselected.substr(0,2) + endselected.substr(3,2);
   		console.log(second);
   		
   		//종료시간이 시작시간보다 이를경우 경고창
   		if(first >= second){
   	   		alert("시간을 다시 선택하세요");
   	   	}
   	   		
   	});
   	
  	//조건에 안맞을 시 버튼 클릭하면 alert창 뜨게 하기
   	$('#submitBtn').click(function(){
   		let isSubmit = true;
   		
   		if(first >= second){
   	   		alert("시간을 다시 선택하세요");
   	   		
   	   	isSubmit = false;
   	   	
   	   	return false;
   		}
   	if(isSubmit) $('#modifyMeetingroom').submit();
   	});
  	

	</script>
	</th:block>
</html>