<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">회의실 관리</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">예약</a></li>
							<li class="breadcrumb-item active" aria-current="page">회의실 관리</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<th:block layout:fragment="customContents">
		<table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col">회의실명 </th>
                          <th scope="col">사용가능시작시간</th>
                          <th scope="col">사용가능종료시간</th>
                          <th scope="col">회의실 위치</th>
                          <th scope="col">회의실 수용인원</th>
                          <th scope="col">회의실 상세정보</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:if="${not #lists.isEmpty(meetingroomList)}"
					th:each="l : ${meetingroomList}">
					<td th:text="${l.meetName}"></td>
					<td th:text="${l.meetUsableStart}"></td>
					<td th:text="${l.meetUsableEnd}"></td>
					<td th:text="${l.meetLocation}"></td>
					<td th:text="${l.meetCapacity}"></td>
					<td th:text="${l.meetDetail}"></td>
					
				</tr>
                  </tbody>
              </table>
	</th:block>
</html>