<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<head>
	<style>
      .ab {
        background-color: blue;
      }
    </style>
	</head>
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">예약 하기</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">예약</a></li>
							<li class="breadcrumb-item active" aria-current="page">예약 하기</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<th:block layout:fragment="customContents">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<div class="card-body">
		    <h6 class="card-subtitle"></h6>
		    <form th:object="${reservation}" th:action="@{/reservation/meetingroomReservationInsert}" method="post">
		    		<input type="hidden"  th:value="*{reservationNum}" name="reservationNum" >
		        <div class="form-group" style="margin:20px 0px 15px 0px;">
		            <label for="exampleInputPassword1">회의실</label>
		            <select class="form-control" id="reservation" name="reservation">
		            	<th:block th:if="${not #lists.isEmpty(reservation)}" 
		            	          th:each="r : ${reservation}">
		            	<option th:text="${r.reservationNum}">
		            	</option>
		            	</th:block>
		            	<th:block th:unless="${not #lists.isEmpty(reservation)}">								
									<option>등록된 회의실이 없습니다</option>
						</th:block>
		            </select>  
		        </div>
		        <label for="exampleInputPassword1">시작시간</label>
		        <div class="form-group" id="startDate">
                 	<input class="form-control" type="datetime-local" id="DateLocal" >
                </div>
                <label for="exampleInputPassword1">종료시간</label>
		        <div class="form-group" id="endDate">
                  	<input class="form-control" type="datetime-local" id="EndDateLocal">
                </div>
                <label for="exampleInputPassword1">예약내용</label>
                	<textarea class="form-control" rows="3"></textarea>
		        <button type="submit" class="btn btn-primary" style="margin:80px 0px 0px 0px;">확인</button>
		    </form>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</th:block>
	<th:block layout:fragment="customScript">
	<script>
	var now_utc = Date.now() // 지금 날짜를 밀리초로
	// getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
	var timeOff = new Date().getTimezoneOffset()*60000; // 분단위를 밀리초로 변환
	// new Date(today-timeOff).toISOString()은 '2022-05-11T18:09:38.134Z'를 반환
	var today = new Date(now_utc-timeOff).toISOString().substring(0, 16);
	 
	document.getElementById("DateLocal").setAttribute("min", today);
	document.getElementById("EndDateLocal").setAttribute("min", today);
	
	 
     // 제이쿼리 change 함수
     $("#DateLocal").change(function(){
         // 변경된 값으로 비교 후 alert 표출
         if($(this).val() < today){
             alert("시간을 다시 선택해주세요");
         }
     });
     
     const datelocal = document.querySelector("#DateLocal");
     
     $("#EndDateLocal").change(function(){
         // 변경된 값으로 비교 후 alert 표출
         if($(this).val() < $("#DateLocal").val()){
             alert("시작시간보다 늦은시간으로 선택해주세요");
         }
     });
     
	</script>
	</th:block>
</html>