<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">회의실 예약</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">예약</li>
							<li class="breadcrumb-item active" aria-current="page">예약 수정</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<th:block layout:fragment="customContents">
		<div class="card-body">
		    <h6 class="card-subtitle"></h6>
		    <form>
		        <div class="form-group">
		            <label for="exampleInputPassword1">회의실</label>
		            <select class="form-control" id="exampleInputPassword1" >
		            </select>
		        </div>
		        <div class="form-group">
		            <label for="exampleInputPassword1">시작시간</label>
		            <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="Password">
		        </div>
		        <div class="form-group">
		            <label for="exampleInputPassword1">종료시간</label>
		            <input type="datetime-local" class="form-control" id="exampleInputPassword1" placeholder="Password">
		        </div>
		        <button type="submit" class="btn btn-primary">확인</button>
		    </form>
		</div>
	</th:block>
</html>