<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">회의실 예약</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">예약</a></li>
							<li class="breadcrumb-item active" aria-current="page">회의실 예약</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	  <a href="/reservation/meetingroomReservationInsert" id="exportExcel" class="btn btn-primary" style="float:right; margin-bottom:8px;">예약하기</a>
	<th:block layout:fragment="customContents">
		<table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col">예약번호</th>
                          <th scope="col">회의실</th>
                          <th scope="col">시작시간</th>
                          <th scope="col">종료시간</th>
                          <th scope="col">예약자</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr th:unless="${#lists.isEmpty(reservationList)}"
					    th:each="l : ${reservationList}">
							<td th:text="${l.reservationNum}"></td>
							<th:block th:unless="${#lists.isEmpty(l.meetingroom)}"
									  th:each="ml : ${l.meetingroom}">
								<td th:text="${ml.meetName}"></td>
							</th:block>
							<td th:text="${l.reservationStartTime}"></td>
							<td th:text="${l.reservationEndTime}"></td>
							<th:block th:unless="${#lists.isEmpty(l.listMember)}"
									  th:each="ll : ${l.listMember}">
								<td th:text="${ll.memberName}"></td>
							</th:block>
				    </tr>
                  </tbody>
              </table>
	</th:block>
</html>