<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-12 m-b-30">
				<!-- begin page title -->
				<div class="d-block d-lg-flex flex-nowrap align-items-center">
					<div class="page-title mr-4 pr-4 border-right">
						<h1>업무진행상황</h1>
					</div>
					<div class="breadcrumb-bar align-items-center">
						<nav>
							<ol class="breadcrumb p-0 m-b-0">
								<li class="breadcrumb-item"><a href="index.html"><i
										class="ti ti-home"></i></a></li>
								<li class="breadcrumb-item">Dashboard</li>
								<li class="breadcrumb-item active text-primary"
									aria-current="page">Default</li>
							</ol>
						</nav>
					</div>
					<div
						class="ml-auto d-flex align-items-center secondary-menu text-center">
						<a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Todo list"> <i
							class="fe fe-edit btn btn-icon text-primary"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Projects"> <i
							class="fa fa-lightbulb-o btn btn-icon text-success"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Task"> <i
							class="fa fa-check btn btn-icon text-warning"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Calendar"> <i
							class="fa fa-calendar-o btn btn-icon text-cyan"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Analytics"> <i
							class="fa fa-bar-chart-o btn btn-icon text-danger"></i>
						</a>
					</div>
				</div>
				<!-- end page title -->
			</div>
		</div>
	</div>
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="tab nav-bt">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">홈</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="task-tab" data-toggle="tab" href="#task" role="tab" aria-controls="task" aria-selected="false">업무 </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="calender-tab" data-toggle="tab" href="#calender" role="tab" aria-controls="calender" aria-selected="false">캘린더 </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">파일 </a>
                                                </li>
                                            </ul>
                                        </div>
                                <div class="tab-content">
                                    <div class="card-body table-responsive p-0 tab-pane fade active show" id="home" role="tabpanel">
                                        <div th:include="~{project/project_home:: projectHomeTab1}"></div>
                                    </div>
                                    <div class="card-body table-responsive p-0 tab-pane fade" id="task" role="tabpanel">
                                       <div th:include="~{project/project_task:: bizTab2}"></div>
                                    </div>
                                    <div class="card-body table-responsive p-0 tab-pane fade" id="calender" role="tabpanel">
                                        <div th:include="~{project/project_calender:: bizTab1}"></div>
                                    </div>
                                    <div class="card-body table-responsive p-0 tab-pane fade" id="profile" role="tabpanel">
                                        <div th:include="~{project/project_files:: bizTab3}"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end task list contant -->
                
               
         
	</th:block>
	<th:block layout:fragment="customScript">

	<script>
		const $addBoardBtn = document.querySelector('.addBoardBtn');
		$addBoardBtn.addEventListener('click', function(){	
			const $projectNumEle = document.querySelector('#projectNum');
			let projectNum = $projectNumEle.value;
			location.href = '/project/projectBoardInsert?projectNum=' + projectNum;
		});
		function home_clickFunc() {
			document.getElementById().href="/project/projectBoardInsert(projectNum=${projectNum})"
		}
	</script>
</th:block>
	
</html>