<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customCrumbbar">
	<div class="breadcrumbbar">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-8">
				<h4 class="page-title">Home</h4>
				<div class="breadcrumb-list">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Home</li>
					</ol>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="widgetbar">
					<button class="btn btn-primary-rgba">
						<i class="feather icon-plus mr-2"></i>Actions
					</button>
				</div>
			</div>
		</div>
	</div>

</th:block>
<th:block layout:fragment="customContents">
	<!-- /project/projectDetail의 bizTab4 -->

<th:block th:fragment="projectHomeTab1">
	<div class="tab tab-border nav-center">
		<ul class="nav nav-tabs" role="tablist">

			<li class="nav-item">
				<button class="btn btn-light"
					onclick="location.href='/project/projectBoardInsert'">게시글
					등록</button>
			</li>

			<li class="nav-item">
				<button class="btn btn-light"
					onclick="location.href='/project/projectTaskInsert'">업무요청
					등록</button>
			</li>

			<li class="nav-item">
				<button class="btn btn-light"
					onclick="location.href='/project/projectCalenderInsert'">캘린더일정
					등록</button>
			</li>

			<li class="nav-item">
				<button class="btn btn-light"
					onclick="location.href='/project/projectTodo'">할일 등록</button>
			</li>

		</ul>
	</div>
	<h3>전체</h3>
	<div class="row" th:each="pbl : ${projectBoardList}">
		<div class="col-md-12">
			<div class="card card-statistics">
				<div class="card-header">
					<div>
					<!-- 멤버아이디 db값 가져오기  -->
					<h5> 작성자 : [[${pbl.memberNum}]]  작성일자 : [[${pbl.projectBoardRegDate}]]</h5>
					<!-- 멤버아이디 db값 가져오기  -->
					</div>
					<div>
						<h4 class="card-title">게시글 제목 <button type="submit" class="btn btn-primary"
						onclick="location.href='/project/projectDetail'" style="float: right;">수정</button></h4>
						</div>
					<div class="card-heading">
					<!-- 프로젝트보드제목 db연결 -->
						<input class="form-control form-control-lg" type="text" disabled="disabled" th:value="${pbl.projectBoardTitle}" style="background-color: white;"/>
					</div>
				</div>
				<div class="card-body">
					<h5>내용</h5>
					<textarea class="form-control" placeholder="Message" id="Textarea1"
						rows="10" th:text="${pbl.projectBoardContent}" readonly style="background-color: white;"></textarea>
						<div class="d-flex flex-column comment-section">
									<div class="bg-white p-2">
										<div class="d-flex flex-row user-info">
											<img class="rounded-circle"
												src="https://i.imgur.com/RpzrMR2.jpg" width="40">
											<div class="d-flex flex-column justify-content-start ml-2">
												<span class="d-block font-weight-bold name">Marry
													Andrews</span><span class="date text-black-50">Shared
													publicly - Jan 2020</span>
											</div>
										</div>
										<div class="mt-2">
											<p class="comment-text">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit, sed do eiusmod tempor
												incididunt ut labore et dolore magna aliqua. Ut enim ad
												minim veniam, quis nostrud exercitation ullamco laboris nisi
												ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
									<div class="bg-white">
										<div class="d-flex flex-row fs-12">
											<div class="like p-2 cursor">
												<i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
											</div>
											<div class="like p-2 cursor">
												<i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span>
											</div>
											<div class="like p-2 cursor">
												<i class="fa fa-share"></i><span class="ml-1">Share</span>
											</div>
										</div>
									</div>
									<div class="bg-light p-2">
										<div class="d-flex flex-row align-items-start">
											<img class="rounded-circle"
												src="https://i.imgur.com/RpzrMR2.jpg" width="40">
											<textarea class="form-control ml-1 shadow-none textarea"></textarea>
										</div>
										<div class="mt-2 text-right">
											<button class="btn btn-primary btn-sm shadow-none"
												type="button">댓글등록</button>
											<button
												class="btn btn-outline-primary btn-sm ml-1 shadow-none"
												type="button">취소</button>
										</div>
									</div>
								</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="card card-statistics">
				<div class="card-header">
					<div class="card-heading">
						<h4 class="card-title">업무진행 내용</h4>
						<input class="form-control form-control-lg" type="text">
					<div class="col-12">
						<h4>진행상황</h4>
						<div class="row tabs-contant">
							<div class="col-xxl-6">
								<div class="tab round">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item"><a class="nav-link active show"
											id="home-07-tab" data-toggle="tab" href="#home-07" role="tab"
											aria-controls="home-07" aria-selected="true"> <i
												class="fa fa-home"></i>진행
										</a></li>
										<li class="nav-item"><a class="nav-link"
											id="profile-07-tab" data-toggle="tab" href="#profile-07"
											role="tab" aria-controls="profile-07" aria-selected="false">
												<i class="fa fa-user"></i> 보류
										</a></li>
										<li class="nav-item"><a class="nav-link"
											id="portfolio-07-tab" data-toggle="tab" href="#portfolio-07"
											role="tab" aria-controls="portfolio-07" aria-selected="false">
												<i class="fa fa-picture-o"></i> 완료
										</a></li>
										<li class="nav-item"><a class="nav-link"
											id="contact-07-tab" data-toggle="tab" href="#contact-07"
											role="tab" aria-controls="contact-07" aria-selected="false">
												<i class="fa fa-check-square-o"></i> 요청
										</a></li>
									</ul>
								</div>
							</div>
						</div>
						<h4>진행률</h4>
						<div class="row rangeslider-wrapper">
							<div class="col-12">
								<div class="col-md-12">
									<div class="slider-1">
										<input type="text" id="slider-1" name="example_name" value="50" />
									</div>
								</div>
							</div>
						</div>
						<h5>내용</h5>
						<textarea class="form-control" placeholder="Message"
							id="Textarea1" rows="10"></textarea>
						<button type="submit" class="btn btn-primary"
							onclick="location.href='/project/projectDetail'">수정</button>
							
					</div>
				</div>
					
						
							
								<div class="d-flex flex-column comment-section">
									<div class="bg-white p-2">
										<div class="d-flex flex-row user-info">
											<img class="rounded-circle"
												src="https://i.imgur.com/RpzrMR2.jpg" width="40">
											<div class="d-flex flex-column justify-content-start ml-2">
												<span class="d-block font-weight-bold name">Marry
													Andrews</span><span class="date text-black-50">Shared
													publicly - Jan 2020</span>
											</div>
										</div>
										<div class="mt-2">
											<p class="comment-text">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit, sed do eiusmod tempor
												incididunt ut labore et dolore magna aliqua. Ut enim ad
												minim veniam, quis nostrud exercitation ullamco laboris nisi
												ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
									<div class="bg-white">
										<div class="d-flex flex-row fs-12">
											<div class="like p-2 cursor">
												<i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
											</div>
											<div class="like p-2 cursor">
												<i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span>
											</div>
											<div class="like p-2 cursor">
												<i class="fa fa-share"></i><span class="ml-1">Share</span>
											</div>
										</div>
									</div>
									<div class="bg-light p-2">
										<div class="d-flex flex-row align-items-start">
											<img class="rounded-circle"
												src="https://i.imgur.com/RpzrMR2.jpg" width="40">
											<textarea class="form-control ml-1 shadow-none textarea"></textarea>
										</div>
										<div class="mt-2 text-right">
											<button class="btn btn-primary btn-sm shadow-none"
												type="button">댓글등록</button>
											<button
												class="btn btn-outline-primary btn-sm ml-1 shadow-none"
												type="button">취소</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		
	




	



</th:block>
</th:block>
</html>