<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="breadcrumbbar">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-8">
				<h4 class="page-title">Home</h4>
				<div class="breadcrumb-list">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Home</li>
					</ol>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="widgetbar">
					<button class="btn btn-primary-rgba">
						<i class="feather icon-plus mr-2"></i>Actions
					</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</th:block>
<th:block layout:fragment="customContents">
	<div class="col-12 mb-30">
		<div class="card card-statistics">
			<div class="card-header">
				<h4 class="card-title">진행중</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">커피만들기 프로젝트</h4>
								<p class="card-text">1.커피만들기 2.커피사기 3.커피주문제작 4.고양이똥 루왁기다리기</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">들어가기</a>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">인원설정</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">커피만들기 프로젝트</h4>
								<p class="card-text">1.커피만들기 2.커피사기 3.커피주문제작 4.고양이똥 루왁기다리기</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">들어가기</a>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">인원설정</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">커피만들기 프로젝트</h4>
								<p class="card-text">1.커피만들기 2.커피사기 3.커피주문제작 4.고양이똥 루왁기다리기</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">들어가기</a>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">인원설정</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">커피만들기 프로젝트</h4>
								<p class="card-text">1.커피만들기 2.커피사기 3.커피주문제작 4.고양이똥 루왁기다리기</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">들어가기</a>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">인원설정</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-12 mb-30">
		<div class="card card-statistics">
			<div class="card-header">
				<h4 class="card-title">완료</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">Making the decision</h4>
								<p class="card-text">Taking a decision to do something –
									this is the first step. We all know that nothing moves until
									someone makes a decision. The first action is always in making
									the decision to proceed. This is a fundamental step, which most
									people overlook.</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">완료폴더로 이동</a>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">삭제</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">The old expression is absolutely
									true</h4>
								<p class="card-text">One of the main areas that I work on
									with my clients is shedding these non-supportive beliefs and
									replacing them with beliefs that will help them to accomplish
									their desires.</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">완료폴더로 이동</a>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">삭제</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</th:block>

</html>