<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">Home</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active" aria-current="page">Home</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</th:block>
	<th:block layout:fragment="customContents">
				<div class="row">
			<form class="col-md-12" th:action="@{/project/projectBoardModify}" method="post">
				<div class="col-md-12" th:if="${} == '일반'">
					<input type="hidden" id="projectDitailNum" name="projectDitailNum" th:value="${plp.postIdx}" /> 
					<input type="hidden" id="projectNum" name="projectNum" th:value="${plp.projectNum}" />
					<div class="card card-statistics">
						<div class="card-header">
							<div>
								<!-- 멤버아이디 db값 가져오기  -->
								<h5>작성자 : [[${plp.projectBoard.memberNum}]] 작성일자 : [[${plp.projectBoard.projectBoardRegDate}]]</h5>
								<!-- 멤버아이디 db값 가져오기  -->
							</div>
							<div>
								<h4 class="card-title">
									게시글 제목
									<button type="button" class="btn btn-primary"
										onclick="location.href='/project/projectBoardModify'"
										style="float: right;">수정</button>
								</h4>
							</div>
							<div class="card-heading">
								<!-- 프로젝트보드제목 db연결 -->
								<input class="form-control form-control-lg" type="text"
									disabled="disabled"
									th:value="${plp.projectBoard.projectBoardTitle}"
									style="background-color: white;" />
							</div>
						</div>
						<div class="card-body">
							<h5>내용</h5>
							<textarea class="form-control" placeholder="Message"
								id="Textarea1" rows="10"
								th:text="${plp.projectBoard.projectBoardContent}" readonly style="background-color: white;"></textarea>
						</div>
					</div>
				</div>
			</form>
		</div>

	</th:block>
	
</html>