<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="breadcrumbbar">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-12 m-b-30">
				<!-- begin page title -->
				<div class="d-block d-lg-flex flex-nowrap align-items-center">
					<div class="page-title mr-4 pr-4 border-right">
						<h1>Dashboard</h1>
					</div>
					<div class="breadcrumb-bar align-items-center">
						<nav>
							<ol class="breadcrumb p-0 m-b-0">
								<li class="breadcrumb-item"><a href="index.html"><i
										class="ti ti-home"></i></a></li>
								<li class="breadcrumb-item">Dashboard</li>
								<li class="breadcrumb-item active text-primary"
									aria-current="page">Default</li>
							</ol>
						</nav>
					</div>
					<div
						class="ml-auto d-flex align-items-center secondary-menu text-center">
						<a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Todo list"> <i
							class="fe fe-edit btn btn-icon text-primary"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Projects"> <i
							class="fa fa-lightbulb-o btn btn-icon text-success"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Task"> <i
							class="fa fa-check btn btn-icon text-warning"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Calendar"> <i
							class="fa fa-calendar-o btn btn-icon text-cyan"></i>
						</a> <a href="javascript:void(0);" class="tooltip-wrapper"
							data-toggle="tooltip" data-placement="top" title=""
							data-original-title="Analytics"> <i
							class="fa fa-bar-chart-o btn btn-icon text-danger"></i>
						</a>
					</div>
				</div>
				<!-- end page title -->
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customContents">
	<div class="col-12 mb-30">
		<div class="card card-statistics">
			<div class="card-header">
				<h4 class="card-title">진행중</h4>
				<div style="text-align:right;">
				<a href="/project/projectInsert"
									class="btn btn-primary mt-2">프로젝트 생성</a>
				</div>
			</div>
	
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3" th:each="pl : ${projectList}">
						<div class="card h-100">
						 <a href="javascript:void(0);" class="btn btn-icon btn-xs btn-primary" style="float: right;"><i class="zmdi zmdi-close"></i></a>
							<div class="card-body">
								<h4 class="card-title" th:text="${pl.projectContent}"></h4>
								
								<th:block th:each="plju : ${ProjectUnit}" th:if="${pl.projectNum == plju.projectNum}">
								<h5 class="card-text" th:text="${plju.unitContents}"></h5>
								</th:block>
								<h4>진행률</h4>
								<div class="row rangeslider-wrapper">
									<div class="col-12">
										<div class="col-md-12">
											<div class="customSliderDiv">
												<input type="text" class="customSlider" name="example_name"
													th:value="${pl.projectProgress}" />
											</div>
										</div>
									</div>
								</div>
								<h6 th:text="|진척률 : ${pl.projectProgress}|"></h6>
								<a th:href="@{/project/projectDetail(projectNum=${pl.projectNum})}" class="btn btn-primary mt-2">들어가기</a>
								<a th:href="@{/project/projectMemberInsert(projectNum=${pl.projectNum})}"
									class="btn btn-primary mt-2">인원설정</a>
								<a th:href="@{/project/projectUnitInsert(projectNum=${pl.projectNum})}"
									class="btn btn-primary mt-2">단위업무설정</a>
								<h6 th:text="|인원수 : ${pl.projectJoin}|"></h6>
								
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-12 mb-30">
		<div class="card card-statistics">
			<div class="card-header">
				<h4 class="card-title">완료</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">Making the decision</h4>
								<p class="card-text">Taking a decision to do something –
									this is the first step. We all know that nothing moves until
									someone makes a decision. The first action is always in making
									the decision to proceed. This is a fundamental step, which most
									people overlook.</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">완료폴더로
									이동</a> <a href="javascript:void(0)" class="btn btn-primary mt-2">삭제</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card h-100">
							<div class="card-body">
								<h4 class="card-title">The old expression is absolutely
									true</h4>
								<p class="card-text">One of the main areas that I work on
									with my clients is shedding these non-supportive beliefs and
									replacing them with beliefs that will help them to accomplish
									their desires.</p>
								<a href="javascript:void(0)" class="btn btn-primary mt-2">완료폴더로
									이동</a> <a href="javascript:void(0)" class="btn btn-primary mt-2">삭제</a>
									
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</th:block>
<th:block layout:fragment="customScript">
	<script>
		$(function(){
			
			$('.customSlider').ionRangeSlider({
				min:0,
				max:100
			});
			
			
		});
	</script>
</th:block>
</html>