<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="breadcrumbbar">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-8">
				<h4 class="page-title">Home</h4>
				<div class="breadcrumb-list">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Home</li>
					</ol>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="widgetbar">
					<button class="btn btn-primary-rgba">
						<i class="feather icon-plus mr-2"></i>Actions
					</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</th:block>
<th:block layout:fragment="customContents">

	<form>
	<h2>인원추가</h2>
		<div class="form-group">
			<label for="workNum">인원설정</label>
			<div class="form-group mb-0">
				<select class="js-basic-single form-control" name="state">
					<optgroup label="Alaskan/Hawaiian Time Zone">
						<option value="AK">Alaska</option>
						<option value="HI">Hawaii</option>
					</optgroup>
					<optgroup label="Pacific Time Zone">
						<option value="CA">California</option>
						<option value="NV">Nevada</option>
						<option value="OR">Oregon</option>
						<option value="WA">Washington</option>
					</optgroup>
					<optgroup label="Mountain Time Zone">
						<option value="AZ">Arizona</option>
						<option value="CO">Colorado</option>
						<option value="ID">Idaho</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NM">New Mexico</option>
						<option value="ND">North Dakota</option>
						<option value="UT">Utah</option>
						<option value="WY">Wyoming</option>
					</optgroup>
					<optgroup label="Central Time Zone">
						<option value="AL">Alabama</option>
						<option value="AR">Arkansas</option>
						<option value="IL">Illinois</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="OK">Oklahoma</option>
						<option value="SD">South Dakota</option>
						<option value="TX">Texas</option>
						<option value="TN">Tennessee</option>
						<option value="WI">Wisconsin</option>
					</optgroup>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="writeChangeReason">담당업무 상세내용</label>
			<textarea class="form-control" name="writeChangeReason"
				id="writeChangeReason" rows="3" placeholder="Textarea text">
	                     </textarea>
		</div>


		<button type="submit" class="btn btn-primary">인원추가완료</button>
	</form>



	<div class="form-group">
		<h2>인원 리스트</h2>
		<div class="row">
			<div class="col-12">
				<div class="card card-statistics clients-contant">
					<div class="card-header">
						<div class="d-xxs-flex justify-content-between align-items-center">
							<div class="card-heading">
								<h4 class="card-title">단위업무인원배정리스트</h4>
							</div>
						</div>
					</div>
					<div class="card-body py-0 table-responsive">
						<table class="table clients-contant-table mb-0">
							<thead>
								<tr>
									<th scope="col">인원배정자</th>
									<th scope="col">참여시작일</th>
									<th scope="col">참여종료일</th>
									<th scope="col">담당자별 업무내용</th>
									<th scope="col">Edit & Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="d-flex align-items-center">
											<div class="bg-img mr-4">
												<img src="/assets/img/avtar/01.jpg" class="img-fluid"
													alt="Clients-01">
											</div>
											<p class="font-weight-bold">id001</p>
											<p class="font-weight-bold">주혀눙</p>
										</div>
									</td>
									<td>20/07/2018</td>
									<td>-</td>
									<td>회계관리 총책임자</td>
									<td><a href="/project/projectMemberInsert"
										class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i
											class="ti ti-pencil"></i></a> <a href="javascript:void(0)"
										class="btn btn-icon btn-outline-danger btn-round"><i
											class="ti ti-close"></i></a></td>
								</tr>
								<tr>
									<td>
										<div class="d-flex align-items-center">
											<div class="bg-img mr-4">
												<img src="/assets/img/avtar/01.jpg" class="img-fluid"
													alt="Clients-01">
											</div>
											<p class="font-weight-bold">id001</p>
											<p class="font-weight-bold">주혀눙</p>
										</div>
									</td>
									<td>20/07/2018</td>
									<td>20/07/2018</td>
									<td>커피고르기 총담당자</td>
									<td>
										<a href="/project/projectMemberInsert" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 ">
											<i class="ti ti-pencil"></i>
										</a> 
										<a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round">
											<i class="ti ti-close"></i>
										</a>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>