<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">파일번호</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item"><a href="/file/fileList">파일목록</a></li>
							<li class="breadcrumb-item active" aria-current="page">파일번호</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customContents">
		<table class="table table-hover">
			<tr>
				<td style="font-family: 돋음; font-size: 12" height="16">
					<div align="center">파일번호</div>
				</td>
				<td style="font-family: 돋음; font-size: 12">
					[[${fileView.fileNum}]]</td>
			</tr>
			<tr>
				<td style="font-family: 돋음; font-size: 12" height="16">
					<div align="center">파일명</div>
				</td>
				<td style="font-family: 돋음; font-size: 12">
					[[${fileView.fileTitle}]]</td>
			</tr>
			<tr>
				<td style="font-family: 돋음; font-size: 12" height="16">
					<div align="center">내용</div>
				</td>
				<td style="font-family: 돋음; font-size: 12"><textarea
						class="form-control" disabled="disabled">[[${fileView.fileContents}]]</textarea>
				</td>
			</tr>
			<tr>
				<td style="font-family: 돋음; font-size: 12" height="16">
					<div align="center">첨부파일</div>
				</td>
				<td th:text="${fileView.fileAttach}"/>
			</tr>
		</table>
		<div style="text-align: center;">
			<button type="button" class="btn btn-outline-success"
				th:onclick="|location.href='@{/file/fileUpdate(fileNum=${fileView.fileNum})}'|">수정</button>
			<button type="button" class="btn btn-outline-success"
				onclick="location.href='/file/fileList';">목록</button>
			<button type="button" class="btn btn-outline-success"
				th:onclick="|location.href='@{/file/fileDelete(fileNum=${fileView.fileNum})}'|">삭제</button>
		</div>
	</th:block>
</html>