<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>근무내역조회</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">근무내역조회</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-lg-12 col-xl-4">
		<div class="card m-b-30">
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col-9">
						<h5 class="card-title mb-0">profile</h5>
					</div>
					<div class="col-3">
						<div class="dropdown">
							<button class="btn btn-link p-0 font-18 float-right"
								type="button" id="widgetRevenue" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="feather icon-more-horizontal-"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="widgetRevenue">
								<a class="dropdown-item font-13" href="#">Refresh</a> <a
									class="dropdown-item font-13" href="#">Export</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="user-slider">
				<div class="user-slider-item">
					<div class="card-body text-center">
						<span class="action-icon badge badge-primary-inverse"
							style="margin-bottom: 20px;">JD</span>
						<h6 th:text="${session.SNAME}"></h6>
						<h5 th:text="${session.SDEPARTMENT}"></h5>
						<p th:text="${session.SEMAIL}"></p>
						<div class="button-list mt-4">
							<button type="button" class="btn btn-outline-primary"
								name="attendanceTime">출근</button>
							<button type="button" class="btn btn-outline-danger"
								name="leaveworkTime">퇴근</button>
						</div>
						<div class="button-list mt-1">
							<button type="button" class="btn btn-outline-success"
								name="gooutWorkoutStartTime">외출</button>
							<button type="button" class="btn btn-outline-success"
								name="gooutWorkoutComebackTime">복귀</button>
							<div class="card-footer text-center">
								<div class="row">
									<div class="col-6 border-right">
										<div id="attendanceTime" ></div>
										<p class="my-2">출근시간</p>
									</div>
									<div class="col-6">
										<div id="leaveworkTime"></div>
										<p class="my-2">퇴근시간</p>
									</div>
								</div>
							</div>
							<div class="card-footer text-center">
								<div class="row">
									<div class="col-6 border-right">
										<div id="gooutWorkoutStartTime"></div>
										<p class="my-2">외출시작시간</p>
									</div>
									<div class="col-6">
										<div id="gooutWorkoutComebackTime"></div>
										<p class="my-2">외출복귀시간</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>


<!-- 사용자 지정 js script -->
<th:block layout:fragment="customScript">

	<script>
		const $attendanceBtn = document
				.querySelector('button[name="attendanceTime"]');
		const $leaveWorkBtn = document
				.querySelector('button[name="leaveworkTime"]');
		const $goOutBtn = document.querySelector('button[name="gooutWorkoutStartTime"]');
		const $comebackBtn = document.querySelector('button[name="gooutWorkoutComebackTime"]');

		const $attendanceEle = document.getElementById('attendanceTime');
		const $leaveWorkEle = document.getElementById('leaveworkTime');
		const $goOutEle = document.getElementById('gooutWorkoutStartTime');
		const $comeBackEle = document.getElementById('gooutWorkoutComebackTime');

		const today = new Date();
		const year = today.getFullYear();
		const month = ('0' + (today.getMonth() + 1)).slice(-2);
		const day = ('0' + today.getDate()).slice(-2);
		const hour = ('0' + today.getHours()).slice(-2);
		const min = ('0' + today.getMinutes()).slice(-2);
		const sec = ('0' + today.getSeconds()).slice(-2);

		const attendanceDay = year + '-' + month + '-' + day;
		const workTime = hour + ':' + min + ':' + sec;
		
		const SID = "[[${session.SID}]]";
		const SNAME = "[[${session.SNAME}]]";
		const SDEPARTMENT = "[[${session.SDEPARTMENT}]]";
		const SDEPARTMENTNUM = "[[${session.SDEPARTMENTNUM}]]";
		const SEMAIL = "[[${session.SEMAIL}]]";
		
		$attendanceBtn.addEventListener('click', function() {
			let request = $.ajax({
									url : "/work/workInsert",
									method : "POST",
									data : {'SID' : SID ,
											'SDEPARTMENTNUM' : SDEPARTMENTNUM,
											'attendanceDay' : attendanceDay,
											'workTime' : workTime},
									dataType : "json",
									success : function(workInfo) {
										$attendanceEle.innerHTML=`${workInfo.attendanceTime}`;
									}
								});
		});

		$leaveWorkBtn.addEventListener('click', function() {
			let request = $.ajax({
									url : "/work/workUpdate",
									method : "POST",
									data : {'SID' : SID ,
											'SDEPARTMENTNUM' : SDEPARTMENTNUM,
											'attendanceDay' : attendanceDay,
											'leaveTime' : workTime},
									dataType : "json",
									success : function(workInfo) {
										$leaveWorkEle.innerHTML=`${workInfo.leaveworkTime}`;
									}
								});
		});
		$goOutBtn.addEventListener('click', function() {
			let request = $.ajax({
									url : "/work/updateGoOutStart",
									method : "POST",
									data : {'SID' : SID ,
											'SDEPARTMENTNUM' : SDEPARTMENTNUM,
											'attendanceDay' : attendanceDay,
											'gooutWorkoutStartTime' : workTime},
									dataType : "json",
									success : function(workInfo) {
										$goOutEle.innerHTML=`${workInfo.gooutWorkoutStartTime}`;
									}
								});
		});
		$comebackBtn.addEventListener('click', function() {
			$comeBackEle.innerHTML = `${workTime}`;
			//document.location.href = "/work/updateComeback?gooutWorkoutComebackTime="+$comeBackEle.value;
		});
	</script>
</th:block>
</html>