<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">결재함</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">결재함</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
	<th:block layout:fragment="customContents">
		<h1>결재함 리스트 보여줄 화면입니다.</h1>
	</th:block>
</html>