<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">휴가신청</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">휴가신청</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customContents">
				<form id="vacationApproval" th:action="@{/approval/vacationInsert}" method="post">
			<div style="width: 800px;">
				<input style="margin-bottom:10px;" type="hidden" class="form-control" id="memberNum" name="memberNum" th:value="${session.SID}" />
			</div>
			<label for="memberName" style="height:20px;">신청사원</label>
			<div style="width: 800px;">
				<input style="margin-bottom:10px;" type="text" class="form-control" id="memberName" th:value="${session.SNAME}" />
			</div>
			<label for="vacationTypeNum" style="height:20px;">휴가종류</label>
			<div style="width: 800px;">
				<select class="form-control" style="margin-bottom:10px;">
				<th:block  th:each="v : ${vacationTypeList}" >
	                     <option th:value="${v.vacationTypeNum}">[[${v.vacationName}]]</option>
	            </th:block>
	                 </select>
			</div>
			<label for="vacationTitle" style="height:20px;">제목</label>
			<div style="width: 800px;">
				<input style="margin-bottom:10px;"  type="text" class="form-control" id="vacationTitle" name="vacationTitle"
					placeholder="서식명을 입력해주세요" />
			</div>
			<label for="vacationStartDate">휴가시작일</label>
			<div style="width: 800px;">
				<input style="margin-bottom:10px;"  type="datetime-local" class="form-control" id="vacationStartDate" name="vacationStartDate"/>
			</div>
			<label for="vacationEndDate">휴가종료일</label>
			<div style="width: 800px;">
				<input style="margin-bottom:10px;"  type="datetime-local" class="form-control" id="vacationEndDate" name="vacationEndDate"/>
			</div>
			<label for="totalVacationUseDate">총 휴가요청일</label>
			<div style="width: 800px;">
				<select class="form-control"  name="totalVacationUseDate" style="margin-bottom:10px;">
					 <option value="0"></option>
                     <option value="1">1일</option>
                     <option value="2">2일</option>
                     <option value="3">3일</option>
                     <option value="4">4일</option>
                     <option value="5">5일</option>
                 </select>
			</div>
			<label for="totalVacationUseTime">총 휴가요청시간</label>
			<div style="width: 800px;">
				<select class="form-control"  name="totalVacationUseTime"  style="margin-bottom:10px;">
					  <option value="0"></option>
                     <option value="1">1시간</option>
                     <option value="2">2시간</option>
                     <option value="3">3시간</option>
                     <option value="4">4시간</option>
                     <option value="5">5시간</option>
                     <option value="6">6시간</option>
                     <option value="7">7시간</option>
                 </select>
			</div>
			<label for="Contents">내용</label>
			<div style="width: 800px;">
				<textarea  class="form-control" name="vacationReason" id="vacationReason" placeholder="내용을 입력해주세요" style="height: 150px; width: 800px; margin-bottom:10px;"></textarea>
			</div>
			<label for="emergencyContact">긴급 연락처</label>
			<div style="width: 800px;">
				<input style="margin-bottom:10px;"  type="text" class="form-control" id="emergencyContact" name="emergencyContact"/>
			</div>
			<label for="replaceMember">대체 근무자</label>
			<div style="width: 800px;">
				<select class="form-control" style="margin-bottom:10px;">
				<th:block  th:each="l : ${memberList}" >
	                     <option th:value="${l.memberNum}">[[${l.memberName}]]</option>
	            </th:block>
	                 </select>
			</div>
			<label for="approvalDeadline">기한시점</label>
			<div style="width: 800px;">
				<input style="margin-bottom:10px;"  type="date" class="form-control" id="replaceMember" name="replaceMember"/>
			</div>
			<div style="margin-top: 20px; margin-left: 300px;">
				<button type="submit" class="btn btn-primary">등록</button>
				<button type="reset" class="btn btn-primary">취소</button>
			</div>
		</form>
	</th:block>
</html>