<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
<head>
	<title th:text="${title}"></title>
</head>

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>근무내역조회</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">근무내역조회</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>

<th:block layout:fragment="customContents">
	<!-- begin row -->
	<div class="table-responsive">
		<table class="table table-bordered mb-0">
			<thead>
				<tr>
					<th scope="col">사원번호</th>
					<th scope="col">근태유형</th>
					<th scope="col">출근일</th>
					<th scope="col">출근시간</th>
					<th scope="col">퇴근시간</th>
					<th scope="col">외출,외근시작시간</th>
					<th scope="col">외출,외근복귀시간</th>
					<th scope="col">출근상태</th>
					<th scope="col">퇴근상태</th>
					<th scope="col">외근유무</th>
					<th scope="col">비정상근태 등록 유무</th>
					<th scope="col">비정상근태 조회</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(workList)}" th:each="w : ${workList}">
	                  <td th:text="${w.memberNum}"></td>
	                  <td th:text="${w.workType.workName}"></td>
	                  <td th:text="${w.attendanceDay}"></td>
	                  <td th:text="${w.attendanceTime}"></td>
	                  <td th:text="${w.leaveworkTime}"></td>
	                  <td th:text="${w.gooutWorkoutStartTime}"></td>
	                  <td th:text="${w.gooutWorkoutComebackTime}"></td>
	                  <td th:text="${w.attendanceStatus}"></td>
	                  <td th:text="${w.leaveworkStatus}"></td>
	                  <td th:text="${w.outsideDuty}"></td>
	                  <td th:text="${w.workUnusual}"></td>
	                  <td th:if="${w.workUnusual=='Y'}"><a class="btn btn-inverse-info" th:href="@{/work/workAuthorityList(workNum=${w.workNum})}">확인</a></td>
	                  <td th:unless="${w.workUnusual=='Y'}"><a  class="btn btn-inverse-info" th:disabled="disabled">확인</a></td>
	              </tr>
	              <tr th:unless="${not #lists.isEmpty(workList)}">
	              </tr> 
			</tbody>
		</table>
	</div>
</th:block>
</html>