<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="row">
		<div class="col-md-12 m-b-30">
			<!-- begin page title -->
			<div class="d-block d-lg-flex flex-nowrap align-items-center">
				<div class="page-title mr-4 pr-4 border-right">
					<h1>비정상근태등록</h1>
				</div>
				<div class="breadcrumb-bar align-items-center">
					<nav>
						<ol class="breadcrumb p-0 m-b-0">
							<li class="breadcrumb-item"><a href="/"><i
									class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active text-primary"
								aria-current="page">비정상근태등록</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- end page title -->
</th:block>

<th:block layout:fragment="customContents">
		<form th:action="@{/work/workAuthorityInsert}" method="post">
		<div class="form-group">
			<label for="memberNum">사원번호</label> 
			<select class="form-control" name="memberNum" id="memberNum" required>
				<th:block th:each="l:${memberList}" >
					<option th:value="${l.memberNum}">[[${l.memberName}]]</option>
				</th:block>
			</select>
		</div>
		<div class="form-group">
			<label for="writeAttendanceDay">근무일</label> <input type="date"
				class="form-control" name="writeAttendanceDay" required>
		</div>
		<div class="form-group">
			<label for="writeAttendanceTime">출근시간</label> <input type="time"
				class="form-control" name="writeAttendanceTime"
				id="writeAttendanceTime" required>
		</div>
		<div class="form-group">
			<label for="writeLeaveWorkTime">퇴근시간</label> <input type="time"
				class="form-control" name="writeLeaveWorkTime"
				id="writeLeaveWorkTime" required>
		</div>
		<div class="form-group">
			<label for="writeChangeReason">입력사유</label>
			<textarea class="form-control" name="writeChangeReason"
				id="writeChangeReason" rows="3" placeholder="Textarea text">
	                     </textarea>
		</div>
		<div class="form-group">
			<label for="vacationCategoryNum">대분류</label> 
			<select class="form-control" name="vacationCategoryNum" id="vacationCategoryNum" required>
				<th:block th:each="c:${category}" >
					<option th:value="${c.vacationCategoryNum}">[[${c.vacationCategoryName}]]</option>
				</th:block>
			</select>
		</div>
		<div class="form-group">
			<label for="vacationSortNum">중분류</label>
			 <select class="form-control" name="vacationSortNum" id="vacationSortNum" required>
				<th:block th:each="s:${sort}" >
					<option th:value="${s.vacationSortNum}">[[${s.vacationSortName}]]</option>
				</th:block>
			</select>
		</div>
		<div class="form-group">
			<label for="vacationTypeNum">휴가종류</label>
			<select class="form-control" name="vacationTypeNum" id="vacationTypeNum" required>
				<th:block th:each="t:${type}" >
					<option th:value="${t.vacationTypeNum}">[[${t.vacationName}]]</option>
				</th:block>
			</select>
		</div>
		<div class="form-group">
			<label for="regMemberNum">등록사원</label> 
			<input type="hidden" class="form-control" name="regMemberNum" id="regMemberNum" th:value="${session.SID}" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</th:block>
</html>