<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">Home</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active" aria-current="page">Home</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</th:block>
	<th:block layout:fragment="customContents">
		
	

	<div class="row">
		<div class="col-md-12">
			<div class="card card-statistics">
				<div class="card-header">
					<div class="card-heading">
						<h4 class="card-title">캘린더 제목</h4>
						
						<div class="form-group">
							<input class="form-control form-control-lg" type="text"
							placeholder="제목을 입력하세요">
						</div>
					</div>
				</div>
				<div class="card-body">
				<h4>캘린더 내용</h4>
					<div id="summernote" class="summernote"></div>
					
					<h4>날짜 선택</h4>
					<div class="input-group" data-date="23/11/2018" data-date-format="mm/dd/yyyy">
                             <span class="input-group-addon">시작일정</span>
                              <input type="text" class="form-control range-from" name="from">
                              <span class="input-group-addon">종료일정</span>
                              <input class="form-control range-to" type="text" name="to">
                            </div>
						
						<h4>지정자 선택</h4>
								  <div class="row">
                            <div class="col-md-12">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="duallistbox">
                                            <select multiple="multiple" size="10" id="duallistbox">
                                                <option value="option1" selected="selected">Option 1</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                                <option value="option4">Option 4</option>
                                                <option value="option5">Option 5</option>
                                                <option value="option6" selected="selected">Option 6</option>
                                                <option value="option7">Option 7</option>
                                                <option value="option8">Option 8</option>
                                                <option value="option9">Option 9</option>
                                                <option value="option0">Option 10</option>
                                                <option value="option0">Option 11</option>
                                                <option value="option0">Option 12</option>
                                                <option value="option0">Option 13</option>
                                                <option value="option0">Option 14</option>
                                                <option value="option0">Option 15</option>
                                                <option value="option0">Option 16</option>
                                                <option value="option0">Option 17</option>
                                                <option value="option0">Option 18</option>
                                                <option value="option0">Option 19</option>
                                                <option value="option0">Option 20</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					
					<button type="submit" class="btn btn-primary"
					onclick="location.href='/project/projectDetail'">등록</button>
					<button type="submit" class="btn btn-primary"
					onclick="location.href='/project/projectDetail'">취소</button>
				</div>
			</div>
		</div>
	</div>

		
	</th:block>
	
</html>