<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description"
	content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
<meta name="author" content="Potenza Global Solutions" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="${title}"></title>
<!-- app favicon -->
<link rel="shortcut icon" href="/assets/img/favicon.ico">
<!-- google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	rel="stylesheet">
<!-- plugin stylesheets -->
<link rel="stylesheet" type="text/css" href="/assets/css/vendors.css" />
<!-- app style -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>


<body>
	<!-- begin app -->
	<div class="app">
		<!-- begin app-wrap -->
		<div class="app-wrap">
			<!-- begin pre-loader -->
			<div th:replace="~{fragments/pre-loader :: preLoaderFragment}"></div>
			<!-- end pre-loader -->

			<!-- begin app-header -->
			<header class="app-header top-bar">
				<!-- begin navbar -->
				<nav class="navbar navbar-expand-md">

					<!-- begin navbar-header -->
					<div th:replace="~{fragments/top :: topFragment}"></div>

					<!-- end navbar-header -->

					<!-- begin navigation -->
					<div th:replace="~{fragments/navigation :: navigationFragment}"></div>



					<!-- end navigation -->






				</nav>
				<!-- end navbar -->
			</header>
			<!-- end app-header -->



			<!-- begin app-container -->
			<div class="app-container">

				<!-- begin app-nabar -->
				<!-- begin sidebar-nav -->
				<div th:replace="~{fragments/sideBar :: sideBarFragment}"></div>
				<!-- end sidebar-nav -->
				<!-- end app-navbar -->

				<!-- begin app-main -->
				<div class="app-main" id="main">
					<!-- begin container-fluid -->
					<div class="container-fluid">

						<th:block layout:fragment="customCrumbbar"></th:block>
						<th:block layout:fragment="customContents"></th:block>


					</div>
					<!-- end container-fluid -->
				</div>
				<!-- end app-main -->
			</div>
			<!-- end app-container -->

			<!-- begin footer -->
			<div th:replace="~{fragments/footer :: footerFragment}"></div>
			<!-- end footer -->

		</div>
		<!-- end app-wrap -->
	</div>
	<!-- end app -->
	<div th:replace="~{fragments/footerScript :: footerScriptFragment}"></div>
</body>
</html>