<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customCrumbbar">
		<div class="breadcrumbbar">
			<div class="row align-items-center">
				<div class="col-md-8 col-lg-8">
					<h4 class="page-title">Home</h4>
					<div class="breadcrumb-list">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active" aria-current="page">Home</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="widgetbar">
						<button class="btn btn-primary-rgba">
							<i class="feather icon-plus mr-2"></i>Actions
						</button>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-outline-primary"
					onclick="location.href='/member/MemberDepartmentInsert'">부서메뉴 추가</button>
	</th:block>
	<th:block layout:fragment="customContents">
		<div class="table-responsive" style="width: 100%; overflow: auto">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">부서명</th>
					<th scope="col">부서생성한 사원</th>
					<th scope="col">부서 생성 일자</th>
					<th scope="col">사용여부</th>
					<th scope="col">수정</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>기획부</td>
					<td>id001</td>
					<td>2022-12-29</td>
					<td>Y</td>
					<th scope="col">
					<button type="button" class="btn btn-outline-primary"
					onclick="location.href='/member/MemberDepartmentModify'">수정</button>
					</th>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>회계부</td>
					<td>id001</td>
					<td>2022-12-29</td>
					<td>Y</td>
					<th scope="col">
					<button type="button" class="btn btn-outline-primary"
					onclick="location.href='/member/MemberDepartmentModify'">수정</button>
					</th>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>전산부</td>
					<td>id001</td>
					<td>2022-12-29</td>
					<td>Y</td>
					<th scope="col">
					<button type="button" class="btn btn-outline-primary"
					onclick="location.href='/member/MemberDepartmentModify'">수정</button>
					</th>
				</tr>
			</tbody>
		</table>

	</div>
	</th:block>
	
</html>