<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customCrumbbar">
	<div class="breadcrumbbar">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-8">
				<h4 class="page-title">Home</h4>
				<div class="breadcrumb-list">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Home</li>
					</ol>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="widgetbar">
					<button class="btn btn-primary-rgba">
						<i class="feather icon-plus mr-2"></i>Actions
					</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</th:block>
<th:block layout:fragment="customContents">
	<div class="table-responsive" style="width: 100%; overflow: auto">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">권한코드</th>
					<th scope="col">사원번호</th>
					<th scope="col">사원권한설정여부</th>
					<th scope="col">사원관리권환</th>
					<th scope="col">로그인관리권한</th>
					<th scope="col">프로젝트관리자권한</th>
					<th scope="col">부서근태내역조회권환</th>
					<th scope="col">캘린더카테고리등록권한</th>
					<th scope="col">커뮤니티카테고리등록권한</th>
					<th scope="col">부서휴가내역조회</th>
					<th scope="col">전사원휴가내역조회</th>
					<th scope="col">전사원근태내역조회</th>
					<th scope="col">비정상근태직권등록</th>
					<th scope="col">결재자 권한</th>
					<th scope="col">근태,휴가설정권한</th>
					<th scope="col">전자결재대분류카테고리권한</th>
					<th scope="col">결재카테고리등록권한</th>
					<th scope="col">근태카테고리등록권한</th>
					<th scope="col">파일카테고리등록권한</th>
					<th scope="col">권한수정</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"></th>
					<td>id001</td>
					<td>
						<div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="customRadioInline1"
									name="customRadioInline1" class="custom-control-input">
								<label class="custom-control-label" for="customRadioInline1">Y</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="customRadioInline2"
									name="customRadioInline1" class="custom-control-input"
									> <label class="custom-control-label"
									for="customRadioInline2">N</label>
							</div>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline3"
								name="customRadioInline2" class="custom-control-input">
							<label class="custom-control-label" for="customRadioInline3">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline4"
								name="customRadioInline2" class="custom-control-input"
								checked="checked"> <label class="custom-control-label"
								for="customRadioInline4">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline5"
								name="customRadioInline3" class="custom-control-input">
							<label class="custom-control-label" for="customRadioInline5">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline6"
								name="customRadioInline3" class="custom-control-input"
								checked="checked"> <label class="custom-control-label"
								for="customRadioInline6">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline7"
								name="customRadioInline4" class="custom-control-input">
							<label class="custom-control-label" for="customRadioInline7">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline8"
								name="customRadioInline4" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline8">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline9"
								name="customRadioInline5" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline9">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline10"
								name="customRadioInline5" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline10">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline11"
								name="customRadioInline6" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline11">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline12"
								name="customRadioInline6" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline12">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline13"
								name="customRadioInline7" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline13">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline14"
								name="customRadioInline7" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline14">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline15"
								name="customRadioInline8" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline15">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline16"
								name="customRadioInline8" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline16">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline17"
								name="customRadioInline9" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline17">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline18"
								name="customRadioInline9" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline18">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline19"
								name="customRadioInline10" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline19">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline20"
								name="customRadioInline10" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline20">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline21"
								name="customRadioInline11" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline21">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline22"
								name="customRadioInline11" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline22">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline23"
								name="customRadioInline12" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline23">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline24"
								name="customRadioInline12" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline24">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline25"
								name="customRadioInline13" class="custom-control-input" checked="checked">
							<label class="custom-control-label" for="customRadioInline25">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline26"
								name="customRadioInline13" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline26">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline27"
								name="customRadioInline14" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline27">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline28"
								name="customRadioInline14" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline28">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline29"
								name="customRadioInline15" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline29">Y</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="customRadioInline30"
								name="customRadioInline15" class="custom-control-input" checked="checked"> 
								<label class="custom-control-label"
								for="customRadioInline30">N</label>
						</div>
					</td>
					<td>
						<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline31"
							name="customRadioInline16" class="custom-control-input" checked="checked"> 
							<label class="custom-control-label"
							for="customRadioInline31">Y</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline32"
							name="customRadioInline16" class="custom-control-input" checked="checked"> 
							<label class="custom-control-label"
							for="customRadioInline32">N</label>
					</div>
					</td>
					<td>
						
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline33"
							name="customRadioInline17" class="custom-control-input" checked="checked"> 
							<label class="custom-control-label"
							for="customRadioInline33">Y</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline34"
							name="customRadioInline17" class="custom-control-input" checked="checked"> 
							<label class="custom-control-label"
							for="customRadioInline34">N</label>
					</div>
					</td>
					<td>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline35"
							name="customRadioInline18" class="custom-control-input" value="Y"> 
							<label class="custom-control-label"
							for="customRadioInline35">Y</label>	
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline36"
							name="customRadioInline18" class="custom-control-input" value="N"> 
							<label class="custom-control-label"
							for="customRadioInline36">N</label>
					</div>
					</td>
			
					<td><button type="button" class="btn btn-outline-primary"
							onclick='radio()'>권한
							수정</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
	function radio() {
		  
		  const genderNodeList
		  = document.getElementsByName('customRadioInline18');
		  
		  genderNodeList.forEach((node) => {
		    if(node.checked)  {
		      console.log(node.value)
		    }
		  }) 
		}
	</script>
</th:block>

</html>